<a class="d-block button_back" href="javascript:void(0);" [routerLink]="['/']">
  <svg-icon styleClass="ml-4 mr-2 flip" icon="arrow-right"></svg-icon>
  <span class="mx-2 px-1">{{'general.btn_back' | translate}}</span>
</a>
<div class="content__wrapper">
  <div class="title__Page">
    <h3 class="font-weight-bold text-dark">{{'dashboard.rating.title' | translate}}</h3>
    <div>
      <button type="button" class="btn btn-outline-dcc-primary px-4 ml-md-3">
        <svg-icon styleClass="fa-w-14" icon="play"></svg-icon>
        {{'dashboard.general.full_screen' | translate}}
      </button>
    </div>
  </div>
  <div class="content__section">

    <div class="row row-cols-1 row-cols-xl-2">
      <div class="col-12">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.main.service_rating' | translate}}</h5>
            </div>
          </div>
          <div class="py-3 row row-cols-1 row-cols-xl-2">
            <div class="col">
              <div class="mt-3 row row-cols-2 row-cols-md-3">
                <div class="col mb-3">
                  <div class="bg-dcc-light flex-center-between px-4 py-3">
                    <div>
                      <div>
                        <div>{{'dashboard.rating.overall_rating' | translate}}</div>
                        <h2 class="font-weight-bold text-dark">3.87</h2>
                      </div>
                    </div>
                    <svg-icon styleClass="text-success" icon="arrow-up"></svg-icon>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="bg-dcc-light flex-center-between px-4 py-3">
                    <div>
                      <div>
                        <div>الإعاشة</div>
                        <h2 class="font-weight-bold text-dark">3.87</h2>
                      </div>
                    </div>
                    <svg-icon styleClass="text-danger" icon="arrow-down"></svg-icon>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="bg-dcc-light flex-center-between px-4 py-3">
                    <div>
                      <div>
                        <div>{{'dashboard.rating.housing' | translate}}</div>
                        <h2 class="font-weight-bold text-dark">3.87</h2>
                      </div>
                    </div>
                    <svg-icon styleClass="text-success" icon="arrow-up"></svg-icon>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="bg-dcc-light flex-center-between px-4 py-3">
                    <div>
                      <div>
                        <div>{{'dashboard.rating.transportation' | translate}}</div>
                        <h2 class="font-weight-bold text-dark">3.87</h2>
                      </div>
                    </div>
                    <svg-icon styleClass="text-success" icon="arrow-up"></svg-icon>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="bg-dcc-light flex-center-between px-4 py-3">
                    <div>
                      <div>
                        <div>حملة الحج</div>
                        <h2 class="font-weight-bold text-dark">3.87</h2>
                      </div>
                    </div>
                    <svg-icon styleClass="text-success" icon="arrow-up"></svg-icon>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="bg-dcc-light flex-center-between px-4 py-3">
                    <div>
                      <div>
                        <div>خدمات مصاحبة</div>
                        <h2 class="font-weight-bold text-dark">3.87</h2>
                      </div>
                    </div>
                    <svg-icon styleClass="text-danger" icon="arrow-down"></svg-icon>
                  </div>
                </div>
              </div>
              <div class="my-4">
                <p>
                  <span>عدد من قاموا بعملية التقييم هذا الموسم هو</span>
                  <b class="text-dark ml-3">908,257</b>
                </p>

                <p>
                  <span>وهي <b class="text-dark">أكبر</b> من الموسم الماضي بنسبة</span>
                  <b class="text-dark ml-3">%23</b>
                </p>
              </div>
            </div>
            <div class="col">
              <div class="h-100 bg-dcc-light flex-center">Content</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts"> {{'dashboard.rating.company_overall_rating' | translate}}</h5>
              <button type="button" class="btn border mx-3">
                {{'dashboard.general.max_rating' | translate}}
                <svg-icon icon="sort-amount-up"></svg-icon>
              </button>
              <button type="button" class="btn border mx-3">
                {{'dashboard.general.min_rating' | translate}}
                <svg-icon icon="sort-amount-down"></svg-icon>
              </button>
            </div>
          </div>
          <div class="py-3">Content</div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.rating.transportation_company_rating' | translate}}</h5>
              <button type="button" class="btn border mx-3">
                {{'dashboard.general.max_rating' | translate}}
                <svg-icon icon="sort-amount-up"></svg-icon>
              </button>
              <button type="button" class="btn border mx-3">
                {{'dashboard.general.min_rating' | translate}}
                <svg-icon icon="sort-amount-down"></svg-icon>
              </button>
            </div>
          </div>
          <div class="py-3">Content</div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.rating.food_company_rating' | translate}}</h5>
              <button type="button" class="btn border mx-3">
                {{'dashboard.general.max_rating' | translate}}
                <svg-icon icon="sort-amount-up"></svg-icon>
              </button>
              <button type="button" class="btn border mx-3">
                {{'dashboard.general.min_rating' | translate}}
                <svg-icon icon="sort-amount-down"></svg-icon>
              </button>
            </div>
          </div>
          <div class="py-3">Content</div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.rating.housing_company_rating' | translate}}</h5>
              <button type="button" class="btn border mx-3">
                {{'dashboard.general.max_rating' | translate}}
                <svg-icon icon="sort-amount-up"></svg-icon>
              </button>
              <button type="button" class="btn border mx-3">
                {{'dashboard.general.min_rating' | translate}}
                <svg-icon icon="sort-amount-down"></svg-icon>
              </button>
            </div>
          </div>
          <div class="py-3">Content</div>
        </div>
      </div>

    </div>

  </div>
</div>
