<div class="content__wrapper">
  <div class="title__Page">
    <h3 class="font-weight-bold text-dark">إحصائيات عامة</h3>
    <div>
      <button type="button" class="btn btn-outline-dcc-primary px-4 ml-md-3">
        <svg-icon styleClass="fa-w-14" icon="play"></svg-icon>
        شاشة كاملة
      </button>
    </div>
  </div>
  <div class="content__section">

    <div class="row row-cols-1 row-cols-md-2">

      <div class="col">
        <div class="statistics h-100 p-3 border">
          <div class="flex-center-between">
            <div>
              <div class="sts-title">حجاج هذا العام</div>
              <div class="sts-number text-dark">
                <ng9-odometer [number]="currentSeasonData?.totalNumberOfApplicants"></ng9-odometer>
              </div>
            </div>
            <svg-icon styleClass="sts-icon fa-w-14 display-4" icon="user-solid"></svg-icon>
          </div>

          <p class="py-3">
            <ngb-progressbar type="pilgrims"
                             [value]="currentSeasonPercentage"
                             height="10px"></ngb-progressbar>
          </p>

          <div class="row row-cols-1 row-cols-xl-2">
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon styleClass="text-pilgrims" icon="circle"></svg-icon>
                <div class="px-3">حجاج الخارج</div>
                <div>{{currentSeasonData?.totalNumberOfExternalApplicants | number}}</div>
              </div>

            </div>
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon styleClass="text-gray-300" icon="circle"></svg-icon>
                <div class="px-3">حجاج الداخل</div>
                <div>{{currentSeasonData?.totalNumberOfInternalApplicants | number}}</div>
              </div>

            </div>
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon styleClass="fa-w-6 h2 text-gray-300" icon="male-solid"></svg-icon>
                <div class="px-3">عدد الذكور</div>
                <div>{{currentSeasonData?.totalNumberOfMaleApplicants | number}}</div>
              </div>

            </div>
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon styleClass="fa-w-8 h2 text-gray-300" icon="female-solid"></svg-icon>
                <div class="px-3">عدد الإناث</div>
                <div>{{currentSeasonData?.totalNumberOfFemaleApplicants | number}}</div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="statistics h-100 p-3 border">
          <div class="flex-center-between">
            <div>
              <div class="sts-title">حجاج الموسم الماضي</div>
              <div class="sts-number text-dark">
                <ng9-odometer [number]="previousSeasonData?.totalNumberOfApplicants"></ng9-odometer>
              </div>
            </div>
            <svg-icon styleClass="sts-icon fa-w-20 display-4" icon="user-clock"></svg-icon>
          </div>

          <p class="py-3">
            <ngb-progressbar type="pilgrims"
                             [value]="previousSeasonPercentage"
                             height="10px"></ngb-progressbar>
          </p>

          <div class="row row-cols-1 row-cols-xl-2">
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon styleClass="text-pilgrims" icon="circle"></svg-icon>
                <div class="px-3">حجاج الخارج</div>
                <div>{{previousSeasonData?.totalNumberOfExternalApplicants | number}}</div>
              </div>

            </div>
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon styleClass="text-gray-300" icon="circle"></svg-icon>
                <div class="px-3">حجاج الداخل</div>
                <div>{{previousSeasonData?.totalNumberOfInternalApplicants | number}}</div>
              </div>

            </div>
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon styleClass="fa-w-6 h2 text-gray-300" icon="male-solid"></svg-icon>
                <div class="px-3">عدد الذكور</div>
                <div>1,547,755</div>
              </div>

            </div>
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon styleClass="fa-w-8 h2 text-gray-300" icon="female-solid"></svg-icon>
                <div class="px-3">عدد الإناث</div>
                <div>{{previousSeasonData?.totalNumberOfFemaleApplicants | number}}</div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>


    <div class="row row-cols-1 row-cols-xl-2">
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">توزيع الاعمار</h5>
            </div>
          </div>
          <div class="py-3">Content</div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">توزيع اعلى الجنسيات</h5>
            </div>
          </div>
          <div class="py-3">Content</div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">التوزيع علي الشركات</h5>
            </div>
          </div>
          <div class="py-3">Content</div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">التوزيع على المخيمات</h5>
            </div>
          </div>
          <div class="py-3">Content</div>
        </div>
      </div>
    </div>

  </div>
</div>
