<a class="d-block button_back" href="javascript:void(0);" [routerLink]="['/']">
  <svg-icon styleClass="ml-4 mr-2 flip" icon="arrow-right"></svg-icon>
  <span class="mx-2 px-1">{{'general.btn_back' | translate}}</span>
</a>
<div class="content__wrapper">
  <div class="title__Page">
    <h3 class="font-weight-bold text-dark">{{'dashboard.general-numbers.title' | translate}}</h3>
    <h3 class="font-weight-bold text-dark">
      {{'dashboard.general.hajj' | translate}}
      <span *ngIf="currentLanguage.startsWith('ar')">عام</span>
      {{seasonYear}}</h3>
    <div>
      <button type="button" class="btn btn-outline-dcc-primary px-4 ml-md-3">
        <svg-icon styleClass="fa-w-14" icon="play"></svg-icon>
        {{'dashboard.general.full_screen' | translate}}
      </button>
    </div>
  </div>
  <div class="content__section">

    <div class="row row-cols-1 row-cols-md-2">

      <div class="col">
        <div class="statistics h-100 p-3 border">
          <div class="flex-center-between">
            <div>
              <div class="sts-title">{{'dashboard.general.current_season_pilgrims' | translate}}</div>
              <div class="sts-number text-dark">
                <ng9-odometer [number]="currentSeasonData?.totalNumberOfApplicants"></ng9-odometer>
              </div>
            </div>
            <svg-icon styleClass="sts-icon fa-w-14 display-4" icon="user-solid"></svg-icon>
          </div>

          <p class="py-3">
            <ngb-progressbar type="pilgrims"
                             [value]="currentSeasonPercentage"
                             height="10px"></ngb-progressbar>
          </p>

          <div class="row row-cols-1 row-cols-xl-2">
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon styleClass="text-pilgrims" icon="circle"></svg-icon>
                <div class="px-3">{{'dashboard.general.external_pilgrims' | translate}}</div>
                <div>{{currentSeasonData?.totalNumberOfExternalApplicants | number}}</div>
              </div>

            </div>
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon styleClass="text-gray-300" icon="circle"></svg-icon>
                <div class="px-3">{{'dashboard.general.internal_pilgrims' | translate}}</div>
                <div>{{currentSeasonData?.totalNumberOfInternalApplicants | number}}</div>
              </div>

            </div>
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon styleClass="fa-w-6 h2 text-gray-300" icon="male-solid"></svg-icon>
                <div class="px-3">{{'dashboard.general-numbers.males' | translate}}</div>
                <div>{{currentSeasonData?.totalNumberOfMaleApplicants | number}}</div>
              </div>

            </div>
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon class="text-pink" styleClass="fa-w-8 h2" icon="female-solid"></svg-icon>
                <div class="px-3">{{'dashboard.general-numbers.females' | translate}}</div>
                <div>{{currentSeasonData?.totalNumberOfFemaleApplicants | number}}</div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="statistics h-100 p-3 border">
          <div class="flex-center-between">
            <div>
              <div class="sts-title">{{'dashboard.general.previous_season_pilgrims' | translate}}</div>
              <div class="sts-number text-dark">
                <ng9-odometer [number]="previousSeasonData?.totalNumberOfApplicants"></ng9-odometer>
              </div>
            </div>
            <svg-icon styleClass="sts-icon fa-w-20 display-4" icon="user-clock"></svg-icon>
          </div>

          <p class="py-3">
            <ngb-progressbar type="pilgrims"
                             [value]="previousSeasonPercentage"
                             height="10px"></ngb-progressbar>
          </p>

          <div class="row row-cols-1 row-cols-xl-2">
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon styleClass="text-pilgrims" icon="circle"></svg-icon>
                <div class="px-3">{{'dashboard.general.external_pilgrims' | translate}}</div>
                <div>{{previousSeasonData?.totalNumberOfExternalApplicants | number}}</div>
              </div>

            </div>
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon styleClass="text-gray-300" icon="circle"></svg-icon>
                <div class="px-3">{{'dashboard.general.internal_pilgrims' | translate}}</div>
                <div>{{previousSeasonData?.totalNumberOfInternalApplicants | number}}</div>
              </div>

            </div>
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon styleClass="fa-w-6 h2 text-gray-300" icon="male-solid"></svg-icon>
                <div class="px-3">{{'dashboard.general-numbers.males' | translate}}</div>
                <div>{{previousSeasonData?.totalNumberOfMaleApplicants | number}}</div>
              </div>

            </div>
            <div class="col my-2">
              <div class="d-flex align-items-center">
                <svg-icon class="text-pink" styleClass="fa-w-8 h2" icon="female-solid"></svg-icon>
                <div class="px-3">{{'dashboard.general-numbers.females' | translate}}</div>
                <div>{{previousSeasonData?.totalNumberOfFemaleApplicants | number}}</div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>


    <div class="row row-cols-1 row-cols-xl-2">
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.general-numbers.age_distribution' | translate}}</h5>
            </div>
          </div>
          <div class="py-3">

            <app-doughnut-chart [centerValue]="totalCountAges | number"
                                [centerTitle]="'حاج'"
                                *ngIf="countVoList != undefined"
                                [title]="'dashboard.general-numbers.age_distribution' | translate"
                                [countData]="countVoList"></app-doughnut-chart>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.general-numbers.distribution_of_highest_nationalities' | translate}}</h5>
            </div>
          </div>
          <div class="py-3">
            <app-doughnut-chart *ngIf="applicantsPerNationalities != undefined"
                                [centerTitle]="'حاج'"
                                [centerValue]="totalCountsNationalities | number"
                                [title]="'dashboard.general-numbers.distribution_of_highest_nationalities' | translate"
                                [countData]="applicantsPerNationalities"></app-doughnut-chart>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.general-numbers.distribution_on_companies' | translate}}</h5>
              <button *ngIf="minCompanies" type="button" class="btn border mx-3" (click)="loadMaxCompanies()">
                {{'dashboard.general.min_companies' | translate}}
                <svg-icon icon="sort-amount-down"></svg-icon>
              </button>
              <button *ngIf="!minCompanies" type="button" class="btn border mx-3" (click)="loadMinCompanies()">
                {{'dashboard.general.max_companies' | translate}}
                <!--TODO Rotate icon-->
                <svg-icon icon="sort-amount-down"></svg-icon>
              </button>
            </div>
          </div>
          <div class="py-3">

            <div class="d-flex flex-column flex-md-row justify-content-between">
            </div>

            <div class="col-12">
              <div class="w-100">
                <canvas baseChart #companiesByApplicantCount
                        [datasets]="[{data: companyCounts, maxBarThickness: 15}]"
                        [options]="chartsConfig.barChartOptions"
                        [labels]="companyLabels"
                        [colors]="[{backgroundColor: '#657DA5', hoverBackgroundColor: '#B1BDD2'}]"
                        chartType="bar" height="80"></canvas>
                <div class="text-center">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.general-numbers.distribution_on_mina_camps' | translate}}</h5>
              <button *ngIf="minCamps" type="button" class="btn border mx-3" (click)="loadMaxCamps()">
                <svg-icon icon="sort-amount-down"></svg-icon>
                {{'dashboard.general-numbers.min_camps' | translate}}
              </button>
              <button *ngIf="!minCamps" type="button" class="btn border mx-3" (click)="loadMinCamps()">
                {{'dashboard.general-numbers.max_camps' | translate}}
                <!--TODO Rotate icon-->
                <svg-icon icon="sort-amount-down"></svg-icon>
              </button>
            </div>
          </div>
          <div class="py-3">

            <div class="d-flex flex-column flex-md-row justify-content-between">
            </div>

            <div class="col-12">
              <div class="w-100">
                <canvas baseChart #campsByApplicantCount
                        [datasets]="[{data: campCounts, maxBarThickness: 15}]"
                        [options]="chartsConfig.barChartOptions"
                        [labels]="campLabels"
                        [colors]="[{backgroundColor: '#649D61', hoverBackgroundColor: '#B1CEAF'}]"
                        chartType="bar" height="80"></canvas>
                <div class="text-center">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
