<a class="d-block button_back" href="javascript:void(0);" [routerLink]="['/']">
  <svg-icon styleClass="ml-4 mr-2 flip" icon="arrow-right"></svg-icon>
  <span class="mx-2 px-1">{{'general.btn_back' | translate}}</span>
</a>
<div class="content__wrapper">
  <div class="title__Page">
    <h3 class="font-weight-bold text-dark">{{'dashboard.transactions.title' | translate}}</h3>
    <div>
      <button type="button" class="btn btn-outline-dcc-primary px-4 ml-md-3">
        <svg-icon styleClass="fa-w-14" icon="play"></svg-icon>
        {{'dashboard.general.full_screen' | translate}}
      </button>
    </div>
  </div>
  <div class="content__section" *ngIf="!canSeeStatisticalDashboard">
    {{'header.welcome' | translate}} <span
    class="font-weight-bold text-dcc-primary">{{'general.app_name' | translate}}</span>
  </div>
  <div class="content__section" *ngIf="canSeeStatisticalDashboard">
    <div class="row row-cols-1 row-cols-xl-2">

      <div class="col-12">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">اختيار الوجبات</h5>
            </div>
          </div>
          <div class="py-3">

            <div class="row">
              <div class="col-md-3">
                <p>
                  <span>وجبات الغداء</span>
                  <b class="text-dark ml-3">843,108</b>
                </p>

                <p>
                  <span>الأكثر اختيارا</span>
                  <b class="text-dark ml-3">فطور الطازج</b>
                </p>

                <hr>

                <p>
                  <span>وجبات الغداء</span>
                  <b class="text-dark ml-3">944,042</b>
                </p>

                <p>
                  <span>الأكثر اختيارا</span>
                  <b class="text-dark ml-3">غداء البيك</b>
                </p>

                <hr>

                <p>
                  <span>وجبات الغداء</span>
                  <b class="text-dark ml-3">754,356</b>
                </p>

                <p>
                  <span>الاكثر اختياراً</span>
                  <b class="text-dark ml-3">عشاء بيت الشاورما</b>
                </p>

              </div>
              <div class="col">
                <div class="h-100 bg-dcc-light flex-center">
                  Content
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">العمليات آخر 7 أيام</h5>
            </div>
          </div>
          <div class="py-3">Content</div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">استخدام الخدمات المختلفة</h5>
              <button type="button" class="btn border mx-3">
                أعلى استخدام
                <svg-icon icon="sort-amount-down"></svg-icon>
              </button>
            </div>
          </div>
          <div class="py-3">Content</div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">عمليات البطاقة بالنسبة للأجهزة</h5>
            </div>
          </div>
          <div class="py-3">Content</div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">العمليات على الخريطة</h5>
              <button type="button" class="btn border mx-3">
                كل العمليات
                <svg-icon icon="sort-amount-down"></svg-icon>
              </button>
            </div>
          </div>
          <div class="py-3">Content</div>
        </div>
      </div>

    </div>

  </div>
</div>
