@import 'variables';

:host {
  ::ng-deep router-outlet ~ * {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EAE2CF;
  }
}

.logo .title {
  font-size: 1.5rem;
  color: $dcc-primary;
}

.logo img {
  height: 5rem;
}

.wrapper {
  height: 100vh !important;
}
