<a class="d-block button_back" href="javascript:void(0);" [routerLink]="['/']">
  <svg-icon styleClass="ml-4 mr-2 flip" icon="arrow-right"></svg-icon>
  <span class="mx-2 px-1">{{'general.btn_back' | translate}}</span>
</a>
<div class="content__wrapper">
  <div class="title__Page">
    <h3 class="font-weight-bold text-dark">{{'dashboard.incidents.title' | translate}}</h3>
    <div>
      <button type="button" class="btn btn-outline-dcc-primary px-4 ml-md-3">
        <svg-icon styleClass="fa-w-14" icon="play"></svg-icon>
        {{'dashboard.general.full_screen' | translate}}
      </button>
    </div>
  </div>
  <div class="content__section" *ngIf="!canSeeIncidentDashboard">
    {{'header.welcome' | translate}} <span
    class="font-weight-bold text-dcc-primary">{{'general.app_name' | translate}}</span>
  </div>
  <div class="content__section" *ngIf="canSeeIncidentDashboard">

    <div class="row row-cols-1 row-cols-xl-2">
      <div class="col">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.main.number_of_incidents' | translate}}</h5>
            </div>

          </div>
          <div class="py-3">
            <canvas #incidentCanvas baseChart *ngIf="incidents != undefined"
                    [datasets]="incidentDoughnutChartData"
                    [labels]="incidentDoughnutChartLabels"
                    [chartType]="incidentDoughnutChartType"
                    [plugins]="incidentDoughnutChartPlugins"
                    [colors]="[{
                      backgroundColor: ['#657DA5', '#D8DEE8'],
                      hoverBackgroundColor: ['#657DA5', '#D8DEE8']
                    }]"
                    [options]="incidentDoughnutChartOptions"
                    [legend]="false"
                    height="100"
            >
            </canvas>
            <div class="mt-4">
              <div>
                {{'dashboard.main.area_with_most_incidents' | translate}}
                <b class="text-dark">{{mostIncidentsArea}}</b>
              </div>
              <div>
                {{'dashboard.main.largest_number_of_incidents_reported' | translate}}
                <b class="text-dark">{{mostIncidentDate}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.incidents.types_of_incidents' | translate}}</h5>
            </div>
          </div>

          <canvas #incidentTypeCanvas baseChart *ngIf="incidents != undefined"
                  [datasets]="[{data: incidentTypeCounts}]"
                  [labels]="incidentTypeLabels"
                  [chartType]="incidentDoughnutChartType"
                  [plugins]="incidentTypeDoughnutChartPlugins"
                  [colors]="chartsConfig.doughnutChartColors"
                  [options]="incidentTypeDoughnutChartOptions"
                  [legend]="false"
          >
          </canvas>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.incidents.distribution_on_companies' | translate}}</h5>
              <button *ngIf="minCompanies" type="button" class="btn border mx-3" (click)="loadMaxCompanies()">
                {{'dashboard.general.min_companies' | translate}}
                <svg-icon icon="sort-amount-down"></svg-icon>
              </button>
              <button *ngIf="!minCompanies" type="button" class="btn border mx-3" (click)="loadMinCompanies()">
                {{'dashboard.general.max_companies' | translate}}
                <svg-icon icon="sort-amount-up"></svg-icon>
              </button>
            </div>
          </div>
          <div class="w-80">
            <canvas baseChart #companiesByApplicantCount
                    [datasets]="[{data: companyCounts, maxBarThickness: 15}]"
                    [options]="chartsConfig.barChartOptions"
                    [labels]="companyLabels"
                    [colors]="[{backgroundColor: '#657DA5', hoverBackgroundColor: '#D8DEE8'}]"
                    chartType="bar" height="80"></canvas>
            <div class="text-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.incidents.distribution_on_the_map' | translate}}</h5>
            </div>
          </div>
          <!--Start MAP-->
          <div class="map py-3">
            <div id="map" style="height: 100%; width: 100%;"></div>
          </div>
          <!--End Map-->
        </div>
      </div>
    </div>

  </div>
</div>
