<div class="content__wrapper">
  <div class="title__Page">
    <h3 class="font-weight-bold text-dark">البلاغات</h3>
    <div>
      <button type="button" class="btn btn-outline-dcc-primary px-4 ml-md-3">
        <svg-icon styleClass="fa-w-14" icon="play"></svg-icon>
        شاشة كاملة
      </button>
    </div>
  </div>
  <div class="content__section">

    <div class="row row-cols-1 row-cols-xl-2">
      <div class="col-12">
        <div class="row row-cols-1 row-cols-md-3 bg-dcc-light m-0">
          <div class="col my-3">
            <div class='input-group mr-3 calendar'>
              <input class="form-control bg-transparent" placeholder="yyyy-mm-dd" name="wp">
              <i class="icon"></i>
            </div>
          </div>
          <div class="col my-3">
            <div class='input-group mr-3 calendar'>
              <input class="form-control bg-transparent" placeholder="yyyy-mm-dd" name="wp">
              <i class="icon"></i>
            </div>
          </div>
          <div class="col my-3">
            <button type="button" class="btn btn-outline-dcc-primary px-4">
              عرض
            </button>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">عدد البلاغات</h5>
            </div>

          </div>
          <div class="py-3">
            <canvas #incidentCanvas baseChart *ngIf="incidents != undefined"
                    [datasets]="incidentDoughnutChartData"
                    [labels]="incidentDoughnutChartLabels"
                    [chartType]="incidentDoughnutChartType"
                    [plugins]="incidentDoughnutChartPlugins"
                    [colors]="chartsConfig.doughnutChartColors"
                    [options]="incidentDoughnutChartOptions"
            >
            </canvas>
            <div>
              <p>
                <b class="text-dark ml-3">{{mostIncidentsArea}}</b> <span>اكثر المناطق التي يوجد بها بلاغات هي</span>

              </p>

              <p>
                <span>اكثر يوم تم تسجيل به اكبر عدد من البلاغات هو </span>
                <b class="text-dark ml-3">{{mostIncidentDate}}</b>
              </p>

            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">أنواع البلاغات</h5>
            </div>
          </div>

          <canvas #incidentTypeCanvas baseChart *ngIf="incidents != undefined"
                  [datasets]="[{data: incidentTypeCounts}]"
                  [labels]="incidentTypeLabels"
                  [chartType]="incidentDoughnutChartType"
                  [plugins]="incidentTypeDoughnutChartPlugins"
                  [colors]="chartsConfig.doughnutChartColors"
                  [options]="incidentTypeDoughnutChartOptions"
          >
          </canvas>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">توزيع البلاغات على الشركات</h5>
              <button *ngIf="minCompanies" type="button" class="btn border mx-3" (click)="loadMaxCompanies()">
                أقل الشركات
                <svg-icon icon="sort-amount-down"></svg-icon>
              </button>
              <button *ngIf="!minCompanies" type="button" class="btn border mx-3" (click)="loadMinCompanies()">
                أعلى الشركات
                <!--TODO Rotate icon-->
                <svg-icon icon="sort-amount-down"></svg-icon>
              </button>
            </div>
          </div>
            <div class="w-100">
            <canvas baseChart #companiesByApplicantCount
                      [datasets]="[{data: companyCounts, maxBarThickness: 15}]"
                      [options]="chartsConfig.barChartOptions"
                      [labels]="companyLabels"
                      [colors]="[{backgroundColor: '#657DA5', hoverBackgroundColor: '#b1bdd2'}]"
                      chartType="bar" height="100"></canvas>
            <div class="text-center">
            </div>
            </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">توزيع البلاغات على الخريطة</h5>
            </div>
          </div>
          <!--Start MAP-->
          <div class="map mt-1">
            <div id="map" style="height: 100%; width: 100%;"></div>
          </div>
          <!--End Map-->
        </div>
      </div>
    </div>

  </div>
</div>
