<a class="d-block button_back" href="javascript:void(0);" (click)="goBackToList()">
  <svg-icon styleClass="ml-4 mr-2 flip" icon="arrow-right"></svg-icon>
  <span class="mx-2 px-1">{{'general.btn_back' | translate}}</span>
</a>
<div class="content__wrapper">
  <div class="title__Page">
    <h3 class="sectionTitle">{{"notification-management.add_notification" | translate }}</h3>
  </div>
  <div class="content__section" *ngIf="!canAddUserDefinedNotification">
    {{'header.welcome' | translate}} <span
    class="font-weight-bold text-dcc-primary">{{'general.app_name' | translate}}</span>
  </div>

  <div class="content__section">
    <label
      class="form-control-plaintext my-2">{{ "notification-management.notification_attributes" | translate }}</label>
    <div class="searchBox">
      <form [formGroup]="notificationForm">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.creation_date" | translate }}</label>
            <div class="input-group">
              <label class="form-control">{{creationDate | dateFormat}}</label>
              <div class="input-group-append">
                  <span class="input-group-text">
                    <svg-icon styleClass="fa-w-18 h6" icon="calendar"></svg-icon>
                  </span>
              </div>
            </div>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.sending_date" | translate }}</label>
            <div class="input-group">
              <input type="text" formControlName="sendingDate" class="form-control"/>
              <div class="input-group-append">
                  <span class="input-group-text">
                    <svg-icon styleClass="fa-w-18 h6" icon="calendar"></svg-icon>
                  </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.notification-name" | translate }}</label>
            <select formControlName="name" class="custom-select">
              <option [ngValue]="null" selected>{{"general.select_option" | translate}}</option>
              <option *ngFor="let notificationName of lookupService().localizedItems(notificationNames)"
                      [ngValue]="notificationName.code">
                {{notificationName.label}}
              </option>
            </select>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.notification-category" | translate }}</label>
            <select class="custom-select" formControlName="category">
              <option [ngValue]="null" selected>{{"general.select_option" | translate}}</option>
              <option *ngFor="let notificationCategory of lookupService().localizedItems(notificationCategories)"
                      [ngValue]="notificationCategory.code">
                {{notificationCategory.label}}
              </option>
            </select>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.notification-severity" | translate }}</label>
            <select formControlName="severity" class="custom-select">
              <option [ngValue]="null" selected>{{ "notification-management.all" | translate }}</option>
              <option [ngValue]="true">{{ "notification-management.important" | translate }}</option>
              <option [ngValue]="false">{{ "notification-management.normal" | translate }}</option>
            </select>
          </div>

        </div>
      </form>
    </div>

  </div>

  <hr class="my-4 w-100">

  <div class="content__section">
    <label
      class="form-control-plaintext my-2">{{ "notification-management.notification_details_caution" | translate }}</label>

    <ul ngbNav #nav="ngbNav" class="nav-tabs mt-2" [activeId]="activeId">
      <li *ngFor="let language of translatedLanguages; let i = index" [ngbNavItem]="i + 1">
        <a ngbNavLink (click)="setSelectedLang(language.code.toLowerCase())">{{language.label}}
          <svg-icon *ngIf="selectedLang === language.code.toLowerCase()" styleClass="fa-w-16"
                    icon="check-circle-outline"></svg-icon>
        </a>
        <ng-template ngbNavContent>
          <form [formGroup]="contentForm">
            <div formArrayName="contents">
              <div [formGroupName]="i" class="row row-cols-1">
                <div class="form-group col-sm-12 col-md-6 col-lg-4">
                  <label class="col-form-label">{{ "notification-management.notification-title" | translate }}</label>
                  <input type="text" formControlName="title" class="form-control"/>
                </div>

                <div class="form-group col">
                  <label class="col-form-label">{{ "notification-management.notification-body" | translate }}</label>
                  <textarea type="text" formControlName="body" class="form-control" rows="2"></textarea>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
      </li>
    </ul>
  </div>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <hr class="my-4 w-100">

  <div class="content__section">
    <label class="form-control-plaintext my-2">{{ "notification-management.choose_recipients" | translate }}</label>
    <label class="col-form-label">{{ "notification-management.send_notification_to" | translate }}</label>
    <div class="radio-group form-control-plaintext d-flex font-weight-normal">
      <div class="radio-item align-items-baseline d-flex mr-5">
        <input class="mr-2" name="target" [value]="-1" type="radio"
               [(ngModel)]="checkedCriteria"
               id="customRadioInline01">
        <label for="customRadioInline01">{{ "notification-management.all" | translate }}</label>
      </div>
      <div class="radio-item align-items-baseline d-flex mr-5">
        <input class="mr-2" name="target" [value]="0" type="radio"
               [(ngModel)]="checkedCriteria"
               [disabled]="true"
               id="customRadioInline02">
        <label for="customRadioInline02">{{ "notification-management.categorized_applicants" | translate }}</label>
      </div>
      <div class="radio-item align-items-baseline d-flex">
        <input class="mr-2" name="target" [value]="1" type="radio"
               [(ngModel)]="checkedCriteria"
               [disabled]="true"
               id="customRadioInline03">
        <label for="customRadioInline03">{{ "notification-management.selected_applicants" | translate }}</label>
      </div>
    </div>
  </div>

  <div class="searchBox" *ngIf="checkedCriteria == 0">
    <form class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

      <div class="form-group col">
        <label class="col-form-label">المخيم</label>
        <select class="custom-select">
          <option [ngValue]="null" selected>{{ "notification-management.all" | translate }}</option>
          <option *ngFor="let notificationCategory of lookupService().localizedItems(notificationCategories)"
                  [ngValue]="notificationCategory.code">
            {{notificationCategory.label}}
          </option>
        </select>
      </div>

      <div class="form-group col">
        <label class="col-form-label">الشركة</label>
        <select class="custom-select">
          <option [ngValue]="null" selected>{{ "notification-management.all" | translate }}</option>
          <option *ngFor="let notificationCategory of lookupService().localizedItems(notificationCategories)"
                  [ngValue]="notificationCategory.code">
            {{notificationCategory.label}}
          </option>
        </select>
      </div>

      <div class="form-group col">
        <label class="col-form-label">الجنسية</label>
        <select class="custom-select">
          <option [ngValue]="null" selected>{{ "notification-management.all" | translate }}</option>
          <option *ngFor="let notificationCategory of lookupService().localizedItems(notificationCategories)"
                  [ngValue]="notificationCategory.code">
            {{notificationCategory.label}}
          </option>
        </select>
      </div>

      <div class="form-group col">
        <label class="col-form-label">العمر</label>
        <div class="d-flex flex-nowrap">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="form-control prepend">{{'general.from' | translate}}</span>
              </div>
              <input type="number" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="form-control prepend">{{'general.to' | translate}}</span>
              </div>
              <input type="number" class="form-control"/>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group col">
        <label class="col-form-label">النوع</label>
        <div class="radio-group form-control-plaintext d-flex font-weight-normal">
          <div class="radio-item align-items-baseline d-flex mr-5">
            <input class="mr-2" name="gender" [value]="-1" type="radio"
                   [(ngModel)]="checkedGender"
                   id="customRadioInline04">
            <label for="customRadioInline04">الكل</label>
          </div>
          <div class="radio-item align-items-baseline d-flex mr-5">
            <input class="mr-2" name="gender" [value]="0" type="radio"
                   [(ngModel)]="checkedGender"
                   id="customRadioInline05">
            <label for="customRadioInline05">ذكور</label>
          </div>
          <div class="radio-item align-items-baseline d-flex">
            <input class="mr-2" name="gender" [value]="1" type="radio"
                   [(ngModel)]="checkedGender"
                   id="customRadioInline06">
            <label for="customRadioInline06">إناث</label>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div *ngIf="checkedCriteria == 1">إضافة حاج</div>

  <div class="d-flex justify-content-between">
    <button class="btn btn-outline-dcc-primary px-4 mr-1" [routerLink]="['/user-defined-notification/list']">
      {{"general.btn_back" | translate}}</button>
    <span>
      <button class="btn btn-outline-dcc-primary ml-auto mr-1 mr-lg-3 mr-md-2 px-4"
              [disabled]="!notificationForm.valid"
              (click)="saveAsDraft()">
        {{"notification-management.save_as_draft" | translate}}
      </button>
      <button class="btn btn-dcc-primary px-4"
              [disabled]="!notificationForm.valid"
              (click)="saveAndSend()">
        {{"notification-management.save_and_send" | translate}}
      </button>
    </span>
  </div>

</div>
