<a class="d-block button_back" href="javascript:void(0);" (click)="goBackToList()">
  <svg-icon styleClass="ml-4 mr-2 flip" icon="arrow-right"></svg-icon>
  <span class="mx-2 px-1">{{'general.btn_back' | translate}}</span>
</a>
<div class="content__wrapper">
  <div class="title__Page">
    <h3 class="sectionTitle">{{"notification-management.add_notification" | translate }}</h3>
  </div>
  <div class="content__section" *ngIf="!canSeeAddUpdateUserDefinedNotification">
    {{'header.welcome' | translate}} <span
    class="font-weight-bold text-dcc-primary">{{'general.app_name' | translate}}</span>
  </div>

  <div *ngIf="!isLoading">
    <div class="content__section" *ngIf="canSeeAddUpdateUserDefinedNotification">
      <form [formGroup]="notificationForm">
        <label
          class="form-control-plaintext my-2">{{ "notification-management.notification_attributes" | translate }}</label>


        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

          <div class="form-group col-sm-12 col-md-12 col-lg-8">
            <label class="col-form-label">{{ "notification-management.notification_description" | translate }}</label>
            <input type="text" formControlName="description" class="form-control" maxlength="250"/>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.notification-status" | translate }}</label>
            <div class="radio-group form-control-plaintext d-flex font-weight-normal">
              <div class="radio-item align-items-baseline d-flex mr-5">
                <input formControlName="enabled"
                       class="mr-2"
                       name="enabled"
                       [value]="true"
                       type="radio"
                       id="customRadioInline05">
                <label for="customRadioInline05">{{'notification-management.enabled' | translate}}</label>
              </div>
              <div class="radio-item align-items-baseline d-flex">
                <input formControlName="enabled"
                       class="mr-2"
                       name="enabled"
                       [value]="false"
                       type="radio"
                       id="customRadioInline06">
                <label for="customRadioInline06">{{'notification-management.disabled' | translate}}</label>
              </div>
            </div>
          </div>

        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.creation_date" | translate }}</label>
            <div class="input-group">
              <label class="form-control disabled-control">{{creationDate | dateFormat}}</label>
              <div class="input-group-append">
                  <span class="input-group-text">
                    <svg-icon styleClass="fa-w-18 h6" icon="calendar"></svg-icon>
                  </span>
              </div>
            </div>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.notification_date" | translate }}</label>
            <div class="input-group">
              <input #dpNotificationDate
                     class="form-control"
                     (click)="d.toggle()"
                     placeholder="DD/MM/YYYY"
                     name="dpNotificationDate"
                     (dateSelect)="onDateSelection($event)"
                     [value]="formatter.format(notificationDate)"
                     (input)="notificationDate = validateInput(notificationDate, dpNotificationDate.value)"
                     ngbDatepicker #d="ngbDatepicker"
                     [readOnly]="true"
                     [minDate]="today">
              <div class="input-group-append" (click)="d.toggle()">
                  <span class="input-group-text">
                    <svg-icon styleClass="fa-w-18 h6" icon="calendar"></svg-icon>
                  </span>
              </div>
            </div>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.notification_type" | translate }}</label>
            <div class="radio-group form-control-plaintext d-flex font-weight-normal">
              <div class="radio-item align-items-baseline d-flex mr-5">
                <input formControlName="userSpecific"
                       class="mr-2"
                       name="userSpecific"
                       [value]="false"
                       type="radio"
                       id="customRadioInline01">
                <label for="customRadioInline01">{{'notification-management.general' | translate}}</label>
              </div>
              <div class="radio-item align-items-baseline d-flex">
                <input formControlName="userSpecific"
                       class="mr-2"
                       name="userSpecific"
                       [value]="true"
                       type="radio"
                       id="customRadioInline02">
                <label for="customRadioInline02">{{'notification-management.user_specific' | translate}}</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.notification-category" | translate }}
              <span class="text-danger">*</span>
            </label>
            <select class="custom-select" formControlName="categoryCode">
              <option [ngValue]="null" selected>{{"general.select_option" | translate}}</option>
              <option *ngFor="let notificationCategory of lookupService().localizedItems(notificationCategories)"
                      [ngValue]="notificationCategory.code">
                {{notificationCategory.label}}
              </option>
            </select>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.notification-severity" | translate }}</label>
            <select formControlName="important" class="custom-select">
              <option [ngValue]="true">{{ "notification-management.important" | translate }}</option>
              <option [ngValue]="false">{{ "notification-management.normal" | translate }}</option>
            </select>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.force_sending" | translate }}</label>
            <div class="radio-group form-control-plaintext d-flex font-weight-normal">
              <div class="radio-item align-items-baseline d-flex mr-5">
                <input formControlName="forceSending"
                       class="mr-2"
                       name="forceSending"
                       [value]="true"
                       type="radio"
                       id="customRadioInline03">
                <label for="customRadioInline03">{{'general.dialog_confirmation_ok' | translate}}</label>
              </div>
              <div class="radio-item align-items-baseline d-flex">
                <input formControlName="forceSending"
                       class="mr-2"
                       name="forceSending"
                       [value]="false"
                       type="radio"
                       id="customRadioInline04">
                <label for="customRadioInline04">{{'general.dialog_confirmation_cancel' | translate}}</label>
              </div>
            </div>
          </div>
        </div>


        <hr class="my-4 w-100">

        <label
          class="form-control-plaintext my-2">{{ "notification-management.notification_content_caution" | translate }}</label>

        <div>
          <ul ngbNav #nav="ngbNav" class="nav-tabs langTab" [activeId]="activeId">
            <li *ngFor="let language of translatedLanguages; let i = index" [ngbNavItem]="i + 1">
              <a ngbNavLink>{{language.label}}
                <span
                  *ngIf="language.code.toLowerCase() === 'ar' || language.code.toLowerCase() === 'en'"
                  class="text-danger">*</span>
                <svg-icon
                  *ngIf="notificationTemplateContents['controls'][i].value.title.length > 0 &&
                  notificationTemplateContents['controls'][i].value.body.length > 0 &&
                  notificationTemplateContents['controls'][i].valid"
                  styleClass="fa-w-20 ml-2"
                  icon="check-circle"></svg-icon>
              </a>
              <ng-template ngbNavContent>
                <div formArrayName="notificationTemplateContents">
                  <div [formGroupName]="i" class="row row-cols-1">
                    <div class="form-group col-sm-12 col-md-6 col-lg-4">
                      <label
                        class="col-form-label">{{ "notification-management.notification-title" | translate }}
                        <span
                          *ngIf="language.code.toLowerCase() === 'ar' || language.code.toLowerCase() === 'en'"
                          class="text-danger">*</span>
                      </label>
                      <input type="text" formControlName="title" class="form-control" maxlength="50"
                             [class.is-invalid]="notificationTemplateContents['controls'][i]['controls']['title'].invalid &&notificationForm &&
                                 notificationTemplateContents['controls'][i]['controls']['title'].touched"
                      />
                      <div
                        *ngIf="notificationForm.invalid && notificationTemplateContents['controls'][i]['controls']['title'].touched"
                        class="invalid-feedback">
                        <div
                          *ngIf="notificationTemplateContents['controls'][i]['controls']['title'].errors?.required">{{'general.field_validation_required' | translate}}
                        </div>
                      </div>
                    </div>
                    <div class="form-group col">
                      <label
                        class="col-form-label">{{ "notification-management.notification-body" | translate }}
                        <span
                          *ngIf="language.code.toLowerCase() === 'ar' || language.code.toLowerCase() === 'en'"
                          class="text-danger">*</span>
                      </label>
                      <textarea type="text" formControlName="body" class="form-control" rows="3" maxlength="500"
                                [class.is-invalid]="notificationTemplateContents['controls'][i]['controls']['body'].invalid &&notificationForm &&
                                 notificationTemplateContents['controls'][i]['controls']['body'].touched"
                      ></textarea>
                      <div
                        *ngIf="notificationForm.invalid && notificationTemplateContents['controls'][i]['controls']['body'].touched"
                        class="invalid-feedback">
                        <div
                          *ngIf="notificationTemplateContents['controls'][i]['controls']['body'].errors?.required">{{'general.field_validation_required' | translate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
      </form>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>

      <hr class="my-4 w-100">

      <div class="content__section mb-4">
        <label class="form-control-plaintext my-2">{{ "notification-management.choose_recipients" | translate }}</label>
        <label class="col-form-label">{{ "notification-management.send_notification_to" | translate }}</label>
        <div class="radio-group form-control-plaintext d-flex font-weight-normal">
          <div class="radio-item align-items-baseline d-flex mr-5">
            <input class="mr-2"
                   name="target"
                   [value]="0"
                   type="radio"
                   [(ngModel)]="checkedCriteria"
                   id="customRadioInline07">
            <label for="customRadioInline07">{{ "notification-management.all" | translate }}</label>
          </div>
          <div class="radio-item align-items-baseline d-flex mr-5">
            <input class="mr-2"
                   name="target"
                   [value]="1"
                   type="radio"
                   [(ngModel)]="checkedCriteria"
                   id="customRadioInline08">
            <label for="customRadioInline08">{{ "notification-management.by_applicant_attributes" | translate }}</label>
          </div>
          <div class="radio-item align-items-baseline d-flex">
            <input class="mr-2"
                   name="target"
                   [value]="2"
                   type="radio"
                   [(ngModel)]="checkedCriteria"
                   id="customRadioInline09">
            <label for="customRadioInline09">{{ "notification-management.selected_list" | translate }}</label>
          </div>
        </div>
      </div>

      <div class="searchBox mb-4 animate slideIn delay" *ngIf="checkedCriteria === 1">
        <form [formGroup]="categorizedApplicantsForm" class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

          <div class="form-group col">
            <label class="col-form-label">{{"notification-management.camp"| translate}}</label>
            <select class="custom-select" formControlName="camp">
              <option [ngValue]="null" selected>{{ "notification-management.all" | translate }}</option>
              <option *ngFor="let camp of camps" [ngValue]="camp.id">
                {{currentLanguage.startsWith('ar') ? camp.locationNameAr : camp.locationNameEn}}
              </option>
            </select>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{"notification-management.company"| translate}}</label>
            <select class="custom-select" formControlName="company">
              <option [ngValue]="null" selected>{{ "notification-management.all" | translate }}</option>
              <option *ngFor="let company of companies" [ngValue]="company.id">
                {{currentLanguage.startsWith('en') ? company.labelEn : company.labelAr}}
              </option>
            </select>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{"notification-management.nationality"| translate}}</label>
            <select class="custom-select" formControlName="nationality">
              <option [ngValue]="null" selected>{{ "notification-management.all" | translate }}</option>
              <option *ngFor="let nationality of lookupService().localizedItems(nationalities)"
                      [ngValue]="nationality.code">
                {{nationality.label}}
              </option>
            </select>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{"notification-management.age"| translate}}</label>
            <div formGroupName="age" class="d-flex flex-nowrap">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="form-control prepend">{{'general.from' | translate}}</span>
                  </div>
                  <input type="number" class="form-control" formControlName="minAge"
                         onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57 && this.value.length <= 2"
                         step="1" [class.is-invalid]="cf.age.touched && (cf.age['controls']['minAge'].invalid || cf.age.errors)"/>
                  <div *ngIf="cf.age.invalid && cf.age.touched" class="invalid-feedback">
                    <div
                      *ngIf="cf.age['controls']['minAge'].errors?.min">
                      {{"notification-management.age_validation_min" | translate: {minLength: 0} }}
                    </div>
                    <div
                      *ngIf="cf.age['controls']['minAge'].errors?.max">
                      {{"notification-management.age_validation_max" | translate: {maxLength: 120} }}
                    </div>
                    <div *ngIf="cf.age.errors?.invalidAgeRange">
                      {{'notification-management.age_validation_range' | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="form-control append prepend">{{'general.to' | translate}}</span>
                  </div>
                  <input type="number" class="form-control" formControlName="maxAge"
                         onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57 && this.value.length <= 2"
                         step="1"
                         [class.is-invalid]="cf.age['controls']['maxAge'].invalid && cf.age['controls']['maxAge'].touched"/>
                  <div *ngIf="cf.age.invalid && cf.age.touched" class="invalid-feedback">
                    <div
                      *ngIf="cf.age['controls']['maxAge'].errors?.min">
                      {{"notification-management.age_validation_min" | translate: {minLength: 0} }}</div>
                    <div
                      *ngIf="cf.age['controls']['maxAge'].errors?.max">
                      {{"notification-management.age_validation_max" | translate: {maxLength: 120} }} </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{"notification-management.gender"| translate}}</label>
            <div class="radio-group form-control-plaintext d-flex font-weight-normal">
              <div class="radio-item align-items-baseline d-flex mr-5">
                <input class="mr-2"
                       name="gender"
                       formControlName="gender"
                       type="radio"
                       [value]="null"
                       id="customRadioInline10">
                <label for="customRadioInline10">{{"notification-management.all"| translate}}</label>
              </div>
              <div class="radio-item align-items-baseline d-flex mr-5">
                <input class="mr-2"
                       name="gender"
                       formControlName="gender"
                       type="radio"
                       [value]="'M'"
                       id="customRadioInline11">
                <label for="customRadioInline11">{{"notification-management.male"| translate}}</label>
              </div>
              <div class="radio-item align-items-baseline d-flex">
                <input class="mr-2"
                       name="gender"
                       formControlName="gender"
                       type="radio"
                       [value]="'F'"
                       id="customRadioInline12">
                <label for="customRadioInline12">{{"notification-management.female"| translate}}</label>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div *ngIf="checkedCriteria === 2" class="animate slideIn delay mb-4">
        <div class="d-flex justify-content-end">
          <button id="addApplicant"
                  (click)="openLg(showAdd)"
                  class="btn btn-outline-dcc-primary px-4" *ngIf="canSeeAddUpdateUserDefinedNotification">
            <svg-icon styleClass="mr-2" icon="plus"></svg-icon>
            <span>{{ "general.btn_add" | translate }}</span>
          </button>
        </div>

        <ng-template #showAdd let-modal>
          <div class="modal-header">
            <h4> {{ "notification-management.add_user_defined_notifications" | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="resetModal()">
              <span aria-hidden="true" class="h2">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form [formGroup]="searchForm" name="searchApplicant" class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
              <div class="form-group col">
                <label class="col-form-label">{{'card-management.applicant_id' | translate }}</label>
                <input id="uin" formControlName="uin" class="form-control"
                       onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57 && this.value.length <= 14"
                       min="0" step="1"/>
              </div>

              <div class="form-group col">
                <label class="col-form-label">{{'printing-management.id_number' | translate }}</label>
                <input formControlName="idNumber" class="form-control"
                       onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57 && this.value.length <= 9"
                       min="0" step="1"/>
              </div>

              <div class="form-group col">
                <label class="col-form-label">{{'card-management.passport_number' | translate }}</label>
                <input id="passportNumber" formControlName="passportNumber" type="text" class="form-control"
                       onkeypress="return this.value.length <=9"/>
              </div>

              <div class="form-group col-12">
                <button id="searchCard" type="submit" [disabled]="isLoading" (click)="search(0)"
                        class="btn btn-dcc-primary px-5 mr-3">
                  {{ "general.btn_search" | translate }}
                </button>
              </div>

            </form>

            <div class="table-responsive my-4">
              <div class="table_scroll">
                <table id="selectedApplicantsSearchResult" class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th scope="col">
                      <div class="custom-control custom-checkbox my-2">
                        <input name="selectAllApplicants" type="checkbox" class="custom-control-input"
                               id="selectedApplicantCheck-01"
                               [checked]="isAllChecked()"
                               (change)="selectApplicantsInThePage($event)">
                        <label class="custom-control-label mx-3" for="selectedApplicantCheck-01"></label>
                      </div>
                    </th>
                    <th scope="col">{{'card-management.applicant_name' | translate}}</th>
                    <th scope="col">{{'card-management.applicant_id' | translate}}</th>
                    <th scope="col">{{'printing-management.id_number' | translate}}</th>
                    <th scope="col">{{'card-management.passport_number' | translate}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="loading()" class="text-center">
                    <td colspan="10" style="height: 200px;">
                      <div class="preloader inner_page">
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="!page?.content  && !loading()  || applicants.length === 0 && !loading()"
                      class="text-center">
                    <td colspan="10">
                      <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set"></svg-icon>
                      <p class="text-light-gray mb-3">{{ "general.table_emtpy_text" | translate }}</p>
                    </td>
                  </tr>
                  <ng-container *ngIf="!loading()">
                    <tr *ngFor="let applicant of applicants">
                      <td>
                        <div class="custom-control custom-checkbox my-2">
                          <input type="checkbox" class="custom-control-input" id="applicantCheck-{{applicant.id}}"
                                 [checked]="isChecked(applicant)"
                                 (change)="selectOne($event, applicant.id)">
                          <label class="custom-control-label mx-3" for="applicantCheck-{{applicant.id}}"></label>
                        </div>
                      </td>
                      <td *ngIf="currentLanguage.startsWith('ar')">{{applicant?.fullNameAr}}
                        <br>{{applicant?.fullNameEn}}</td>
                      <td *ngIf="currentLanguage.startsWith('en')">{{applicant?.fullNameEn}}
                        <br>{{applicant?.fullNameAr}}</td>
                      <td>{{applicant?.digitalIds[0]?.uin}}</td>
                      <td>{{applicant?.idNumber}}</td>
                      <td class="ltr">{{applicant?.passportNumber}}</td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>
            </div>

            <nav aria-label="Page navigation example" *ngIf="page?.content && page?.totalElements > 0">
              <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="page?.first">
                  <a class="page-link" (click)="search(0)" tabindex="-1">{{'general.nav_first' | translate}}</a>
                </li>
                <li class="page-item" [class.disabled]="page?.first">
                  <a class="page-link" (click)="search(page?.number-1)"
                     tabindex="-1">{{'general.nav_previous' | translate}}</a>
                </li>
                <li class="page-item active">
                  <a class="page-link">{{(page?.number + 1) + ' / ' + page?.totalPages}}</a>
                </li>
                <li class="page-item" [class.disabled]="page?.last">
                  <a class="page-link" (click)="search(page?.number+1)">{{'general.nav_next' | translate}}</a>
                </li>
                <li class="page-item" [class.disabled]="page?.last">
                  <a class="page-link" (click)="search(page?.totalPages-1)">{{'general.nav_last' | translate}}</a>
                </li>
              </ul>
            </nav>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary"
                    *ngIf="selectedApplicants?.length"
                    (click)="resetModal()">
              {{'printing-management.btn_cancel' | translate }}
            </button>

            <button type="button" class="btn btn-dcc-primary"
                    *ngIf="selectedApplicants?.length"
                    (click)="addApplicants()">
              {{'notification-management.add_no_applicants' | translate : {noApplicants: selectedApplicants.length} }}
            </button>
          </div>
        </ng-template>

        <div *ngIf="addedApplicants?.length > 0">

          <div class="table-responsive my-4">
            <table id="addedApplicantsSearchResult" class="table table-striped table-hover">
              <thead>
              <tr>
                <th scope="col">{{'card-management.applicant_name' | translate}}</th>
                <th scope="col">{{'card-management.applicant_id' | translate}}</th>
                <th scope="col">{{'printing-management.id_number' | translate}}</th>
                <th scope="col">{{'card-management.passport_number' | translate}}</th>
                <th scope="col" class="text-center"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="false" class="text-center">
                <td colspan="10">
                  <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set"></svg-icon>
                  <p class="text-light-gray mb-3">{{ "general.table_emtpy_text" | translate }}</p>
                </td>
              </tr>
              <tr
                *ngFor="let applicant of addedApplicants | slice: (addedApplicantsCurrentPage * addedApplicantsPageSize) - addedApplicantsPageSize :addedApplicantsCurrentPage * addedApplicantsPageSize">
                <td>{{applicant?.fullNameAr}} {{applicant?.fullNameEn}}</td>
                <td>{{applicant?.digitalIds[0]?.uin}}</td>
                <td>{{applicant?.idNumber}}</td>
                <td class="ltr">{{applicant?.passportNumber}}</td>
                <td>
                  <button (click)="undoAddApplicant(applicant?.id)"
                          class="btn btn-sm btn-outline-danger tblView"> {{"general.btn_delete" | translate}}
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.disabled]="addedApplicantsCurrentPage === 1">
                <a class="page-link" (click)="setCurrentPage(1)" tabindex="-1">{{'general.nav_first' | translate}}</a>
              </li>
              <li class="page-item" [class.disabled]="addedApplicantsCurrentPage === 1">
                <a class="page-link" (click)="setCurrentPage(addedApplicantsCurrentPage - 1)"
                   tabindex="-1">{{'general.nav_previous' | translate}}</a>
              </li>
              <li class="page-item active">
                <a
                  class="page-link">{{addedApplicantsCurrentPage + ' / ' + getTotalPages(addedApplicants.length, addedApplicantsPageSize)}}</a>
              </li>
              <li class="page-item"
                  [class.disabled]="addedApplicantsCurrentPage === getTotalPages(addedApplicants.length, addedApplicantsPageSize)">
                <a class="page-link"
                   (click)="setCurrentPage(addedApplicantsCurrentPage + 1)">{{'general.nav_next' | translate}}</a>
              </li>
              <li class="page-item"
                  [class.disabled]="addedApplicantsCurrentPage === getTotalPages(addedApplicants.length, addedApplicantsPageSize)">
                <a class="page-link"
                   (click)="setCurrentPage(getTotalPages(addedApplicants.length, addedApplicantsPageSize))">{{'general.nav_last' | translate}}</a>
              </li>
            </ul>
          </nav>

        </div>

      </div>

      <div class="d-flex justify-content-between">
        <button class="btn btn-outline-dcc-primary px-4 mr-1" (click)="cancel()">
          {{"general.btn_cancel" | translate}}</button>
        <span>
      <button class="btn btn-outline-dcc-primary ml-auto mr-1 mr-lg-3 mr-md-2 px-4"
              [disabled]="!notificationForm.valid || !categorizedApplicantsForm.valid"
              (click)="saveAsDraft()">
        {{"notification-management.save_as_draft" | translate}}
      </button>
      <button class="btn btn-dcc-primary px-4"
              [disabled]="!notificationForm.valid || !categorizedApplicantsForm.valid"
              (click)="saveAndSend()">
        {{"notification-management.save_and_send" | translate}}
      </button>
    </span>
      </div>
    </div>
  </div>

  <!-- Loading spinner placeholder -->
  <div *ngIf="isLoading" class="text-center">
    <div style="height: 200px;">
      <div class="preloader inner_page">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

</div>
