<div class="content__wrapper">
  <div class="title__Page">
    <h3 class="sectionTitle">
      {{ "notification-management.title" | translate }}
      <button class="btn btn-link shadow-none">
        <svg-icon styleClass="h4 pt-3" icon="search" (click)="isSearchbarCollapsed = !isSearchbarCollapsed"></svg-icon>
      </button>
    </h3>

  </div>
  <div class="content__section" *ngIf="!canSeeNotificationList">
    {{'header.welcome' | translate}} <span
    class="font-weight-bold text-dcc-primary">{{'general.app_name' | translate}}</span>
  </div>

  <div class="content__section" *ngIf="canSeeNotificationList">
    <div class="searchBox" [ngbCollapse]="isSearchbarCollapsed">
      <form [formGroup]="searchForm" class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification-body" | translate }}</label>
          <input type="text" formControlName="notificationBody" class="form-control" [maxLength]="500"/>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification-title" | translate }}</label>
          <input type="text" formControlName="notificationTitle" class="form-control" [maxLength]="50"/>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification-name" | translate }}</label>
          <select formControlName="notificationName" class="custom-select">
            <option [ngValue]="null" selected>{{"general.select_option" | translate}}</option>
            <option *ngFor="let notificationName of lookupService().localizedItems(notificationNames)"
                    [ngValue]="notificationName.code">
              {{notificationName.label}}
            </option>
          </select>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification-category" | translate }}</label>
          <select class="custom-select" formControlName="notificationCategory">
            <option [ngValue]="null" selected>{{"general.select_option" | translate}}</option>
            <option *ngFor="let notificationCategory of lookupService().localizedItems(notificationCategories)"
                    [ngValue]="notificationCategory.code">
              {{notificationCategory.label}}
            </option>
          </select>
        </div>


        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification-type" | translate }}</label>
          <select formControlName="notificationType" class="custom-select">
            <option [ngValue]="null" selected>{{ "notification-management.all" | translate }}</option>
            <option [ngValue]="true">{{ "notification-management.FYA" | translate }}</option>
            <option [ngValue]="false">{{"notification-management.FYI" | translate }}</option>
          </select>
        </div>


        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification-severity" | translate }}</label>
          <select formControlName="severity" class="custom-select">
            <option [ngValue]="null" selected>{{ "notification-management.all" | translate }}</option>
            <option [ngValue]="true">{{ "notification-management.important" | translate }}</option>
            <option [ngValue]="false">{{ "notification-management.normal" | translate }}</option>
          </select>
        </div>


        <div class="form-group col-12">
          <button id="btnSearch" type="submit" (click)="search()" class="btn btn-dcc-primary px-5 mr-3">
            {{ "general.btn_search" | translate }}
          </button>
        </div>

      </form>
    </div>

    <div class="d-flex justify-content-end bg-dcc-light mt-4 actionBar">
      <div class="bg-white">
        <a id="exportToExcel" class="btn btn-dcc-light btn-action m-w-l" href="/">
          <svg-icon styleClass="mx-3 fa-w-18" icon="file-excel"></svg-icon>
          {{'general.export_to_excel' | translate}}
        </a>
        <a id="exportToPDF" class="btn btn-dcc-light btn-action m-w-l" href="/">
          <svg-icon styleClass="mx-3 fa-w-18" icon="file-pdf"></svg-icon>
          {{'general.export_to_pdf' | translate}}
        </a>
      </div>
    </div>
    <div class="table-responsive mb-4">
      <table id="systemDefinedNotifications" class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">{{'notification-management.notification-name' | translate}}</th>
          <th scope="col">{{'notification-management.notification-title' | translate}}</th>
          <th scope="col">{{'notification-management.notification-body' | translate}}</th>
          <th scope="col">{{'notification-management.notification-type' | translate}}</th>
          <th scope="col">{{'notification-management.action-label' | translate}}</th>
          <th scope="col">{{'notification-management.notification-severity' | translate}}</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="!page?.content || page?.totalElements === 0" class="text-center">
          <td colspan="10">
            <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set"></svg-icon>
            <p class="text-light-gray mb-3">{{ "general.no_data_found_matching_given_criteria" | translate }}</p>
          </td>
        </tr>
        <tr *ngFor="let template of notificationTemplates">
          <td class="ltr">{{lookupService().localizedLabel(notificationNames, template?.nameCode)}}</td>
          <td
            class="ltr">{{getNotificationContentForCurrentLanguage(template?.notificationTemplateContents)?.title || '---'}}</td>
          <td
            class="ltr">{{getNotificationContentForCurrentLanguage(template?.notificationTemplateContents)?.body || '---'}}</td>
          <td class="ltr">
            {{(template?.actionRequired == true ? 'notification-management.FYA' : 'notification-management.FYI') | translate}}
          </td>
          <td
            class="ltr">{{getNotificationContentForCurrentLanguage(template?.notificationTemplateContents)?.actionLabel || '---'}}</td>
          <td class=" d-flex align-items-baseline" *ngIf="template?.important">
            <span class="status mr-1 Suspended severity-badge"></span>
            <span>{{'notification-management.important' | translate}}</span>
          </td>
          <td class=" d-flex align-items-baseline" *ngIf="!template?.important">
            <span class="status mr-1 done severity-badge"></span>
            <span>{{'notification-management.normal' | translate}}</span>
          </td>
          <td>
            <button [routerLink]="['/system-defined-notification/details', template.id]"
                    class="btn btn-sm btn-outline-dcc-primary tblView">
              {{"general.btn_view" | translate}}
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation example" *ngIf="page?.content && page?.totalElements > 0">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="page?.first">
          <a class="page-link" (click)="loadPage(0)" tabindex="-1">{{'general.nav_first' | translate}}</a>
        </li>

        <li class="page-item" [class.disabled]="page?.first">
          <a class="page-link" (click)="loadPage(page?.number-1)"
             tabindex="-1">{{'general.nav_previous' | translate}}</a>
        </li>
        <li class="page-item active">
          <a class="page-link" [class.disabled]="true">{{(page?.number + 1) + ' / ' + page?.totalPages}}</a>
        </li>
        <li class="page-item" [class.disabled]="page?.last">
          <a class="page-link" (click)="loadPage(page?.number+1)">{{'general.nav_next' | translate}}</a>
        </li>

        <li class="page-item" [class.disabled]="page?.last">
          <a class="page-link" (click)="loadPage(page?.totalPages-1)">{{'general.nav_last' | translate}}</a>
        </li>
      </ul>
    </nav>
  </div>

</div>
