<a class="d-block button_back" href="javascript:void(0);" (click)="goBackToList()">
  <svg-icon styleClass="ml-4 mr-2 flip" icon="arrow-right"></svg-icon>
  <span class="mx-2 px-1">{{'general.btn_back' | translate}}</span>
</a>
<div class="content__wrapper">
  <div class="title__Page">
    <h3 *ngIf="editMode" class="sectionTitle">{{"notification-management.edit_notification_details" | translate }}</h3>
    <h3 *ngIf="!editMode" class="sectionTitle">{{"notification-management.display_notification" | translate }}</h3>
  </div>
  <div class="content__section" *ngIf="!canSeeAddUpdateUserDefinedNotification">
    {{'header.welcome' | translate}} <span
    class="font-weight-bold text-dcc-primary">{{'general.app_name' | translate}}</span>
  </div>

  <div class="content__section">

    <form [formGroup]="notificationForm">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.creation_date" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>
          <div *ngIf="editMode" class="input-group">
            <label class="form-control disabled-control">{{creationDate | dateTimeFormat}}</label>
            <div class="input-group-append">
                  <span class="input-group-text">
                    <svg-icon styleClass="fa-w-18 h6" icon="calendar"></svg-icon>
                  </span>
            </div>
          </div>
          <label *ngIf="!editMode"
                 class="form-control-plaintext">{{notificationTemplate?.creationDate | dateTimeFormat}}</label>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification_date" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>
          <label *ngIf="!editMode"
                 class="form-control-plaintext">{{notificationTemplate?.sendingDate | dateTimeFormat}}</label>
          <app-hijri-gregorian-datetimepicker [showLabel]="false"
                                              *ngIf="editMode"
                                              placeHolder="{{currentLanguage.startsWith('ar') ? 'HH:MM DD/MM/YYYY' : 'DD/MM/YYYY HH:MM'}}"
                                              name="sendingDate"
                                              formControlName="sendingDate"
                                              buttonClass="dcc-primary"
                                              class="datepicker {{f.sendingDate.errors && f.sendingDate.touched ? 'is-invalid' : ''}}"
                                              [isRequired]="true"
                                              [minGreg]="minSendingDateGregorian"
                                              [minHijri]="minSendingDateHijri"
                                              [GregLabel]="'general.cal_greg' | translate"
                                              [hijriLabel]="'general.cal_hijri' | translate"
                                              [selectedDateType]="selectedDateType"
                                              [readonly]="true"
                                              inputDatetimeFormat="dd/MM/yyyy HH:mm"
                                              #datePicker>
          </app-hijri-gregorian-datetimepicker>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.enabled" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>

          <span *ngIf="!editMode">
             <label *ngIf="notificationTemplate?.enabled"
                    class="form-control-plaintext">{{'general.label_yes' | translate}}</label>
             <label *ngIf="!notificationTemplate?.enabled"
                    class="form-control-plaintext">{{'general.label_no' | translate}}</label>
          </span>

          <div *ngIf="editMode" class="form-control p-0 btn-group btn-group-toggle" ngbRadioGroup name="radioGender">
            <label ngbButtonLabel class="btn" [class.btn-select]="notificationForm.value.enabled">
              <input ngbButton
                     name="enabled"
                     type="radio"
                     formControlName="enabled"
                     [value]="true">
              {{'notification-management.enabled' | translate}}
            </label>
            <label ngbButtonLabel class="btn" [class.btn-select]="!notificationForm.value.enabled">
              <input ngbButton
                     name="enabled"
                     type="radio"
                     formControlName="enabled"
                     [value]="false">
              {{'notification-management.disabled' | translate}}
            </label>
          </div>

        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification_type" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>
          <span *ngIf="!editMode">
             <label *ngIf="!notificationTemplate?.userSpecific"
                    class="form-control-plaintext">{{ "notification-management.general" | translate }}</label>
             <label *ngIf="notificationTemplate?.userSpecific"
                    class="form-control-plaintext">{{'notification-management.user_specific' | translate}}</label>
          </span>
          <select *ngIf="editMode" formControlName="userSpecific" class="custom-select">
            <option [ngValue]="false">{{ "notification-management.general" | translate }}</option>
            <option [ngValue]="true">{{ "notification-management.user_specific" | translate }}</option>
          </select>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification-category" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>
          <label *ngIf="!editMode" class="form-control-plaintext">
            {{notificationTemplate?.categoryCode ? lookupService().localizedLabel(notificationCategories, notificationTemplate?.categoryCode) : '---'}}</label>
          <select *ngIf="editMode" class="custom-select" formControlName="category">
            <option *ngFor="let notificationCategory of lookupService().localizedItems(notificationCategories)"
                    [ngValue]="notificationCategory.code">
              {{notificationCategory.label}}
            </option>
          </select>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification-severity" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>
          <span *ngIf="!editMode">
            <label *ngIf="notificationTemplate?.important" class="form-control-plaintext">
              <span class="status mr-1 Suspended severity-badge"></span>
              <span>{{'notification-management.important' | translate}}</span>
            </label>
            <label *ngIf="!notificationTemplate?.important" class="form-control-plaintext">
              <span class="status mr-1 done severity-badge"></span>
              <span>{{'notification-management.normal' | translate}}</span>
            </label>
          </span>

          <select *ngIf="editMode" formControlName="severity" class="custom-select">
            <option [ngValue]="true">{{ "notification-management.important" | translate }}</option>
            <option [ngValue]="false">{{ "notification-management.normal" | translate }}</option>
          </select>
        </div>

        <div class="form-group {{editMode ? 'col-sm-12 col-md-12 col-lg-8': 'col'}}">
          <label class="col-form-label">{{ "notification-management.notification_description" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>
          <input *ngIf="editMode" type="text" formControlName="description" class="form-control"
                 [class.is-invalid]="f.description.invalid && f.description.touched">
          <div *ngIf="editMode && (f.description.invalid && f.description.touched)" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">{{'general.field_validation_required' | translate}}</div>
          </div>
          <label *ngIf="!editMode"
                 class="form-control-plaintext text-break">{{notificationTemplate?.description ? notificationTemplate?.description : '---'}}</label>
        </div>

        <div *ngIf="!editMode" class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification-status" | translate }}</label>
          <label class="form-control-plaintext">
            <span class="status {{buildStatusClass(notificationTemplate?.statusCode)}} mr-1"></span>
            <span>{{notificationTemplate?.statusCode ? lookupService().localizedLabel(notificationStatuses, notificationTemplate?.statusCode) : '---'}}</span>
          </label>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.force_sending" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>
          <span *ngIf="!editMode">
             <label *ngIf="notificationTemplate?.forceSending"
                    class="form-control-plaintext">{{ "general.dialog_confirmation_ok" | translate }}</label>
             <label *ngIf="!notificationTemplate?.forceSending"
                    class="form-control-plaintext">{{"general.dialog_confirmation_cancel" | translate}}</label>
          </span>
          <select *ngIf="editMode" formControlName="forceSending" class="custom-select">
            <option [ngValue]="true">{{ "general.dialog_confirmation_ok" | translate }}</option>
            <option [ngValue]="false">{{ "general.dialog_confirmation_cancel" | translate }}</option>
          </select>
        </div>

      </div>
      <div>
        <ul ngbNav #nav="ngbNav" class="nav-tabs langTab" [activeId]="activeId">
          <li *ngFor="let language of translatedLanguages; let i = index" [ngbNavItem]="i + 1">
            <a ngbNavLink>{{language.label}}
              <span *ngIf="editMode && (language.code.toLowerCase() === 'ar' || language.code.toLowerCase() === 'en')"
                    class="text-danger font-weight-normal">*</span>
              <svg-icon
                *ngIf="checkContentIsValid(i) || (notificationTemplateContents['controls'][i]['controls'].title.value.length > 0 && notificationTemplateContents['controls'][i]['controls'].body.value.length > 0)"
                styleClass="fa-w-20 ml-2"
                icon="check-circle"></svg-icon>
              <svg-icon *ngIf="notificationTemplateContents['controls'][i].invalid && notificationTemplateContents['controls'][i]['controls'].title.touched
                && notificationTemplateContents['controls'][i]['controls'].body.touched"
                        styleClass="fa-w-20 ml-2 text-danger"
                        icon="exclamation-circle"></svg-icon>
            </a>
            <ng-template ngbNavContent>
              <div formArrayName="notificationTemplateContents">
                <div [formGroupName]="i" class="row row-cols-1">
                  <div class="form-group col-sm-12 col-md-6 col-lg-4">
                    <label class="col-form-label">{{ "notification-management.notification-title" | translate }}
                      <span
                        *ngIf="editMode && (language.code.toLowerCase() === 'ar' || language.code.toLowerCase() === 'en')"
                        class="text-danger">*</span>
                    </label>
                    <input *ngIf="editMode" type="text" formControlName="title" class="form-control"
                           [class.is-invalid]="notificationTemplateContents['controls'][i]['controls']['title'].invalid &&notificationForm &&
                                 notificationTemplateContents['controls'][i]['controls']['title'].touched">
                    <div
                      *ngIf="editMode && (notificationForm.invalid && notificationTemplateContents['controls'][i]['controls']['title'].touched)"
                      class="invalid-feedback">
                      <div
                        *ngIf="notificationTemplateContents['controls'][i]['controls']['title'].errors?.required">{{'general.field_validation_required' | translate}}
                      </div>
                    </div>
                    <label *ngIf="!editMode"
                           class="form-control-plaintext">{{notificationTemplate?.notificationTemplateContents[i]?.title ? notificationTemplate?.notificationTemplateContents[i]?.title : '---'}}</label>
                  </div>

                  <div class="form-group col">
                    <label class="col-form-label">{{ "notification-management.notification-body" | translate }}
                      <span
                        *ngIf="editMode && (language.code.toLowerCase() === 'ar' || language.code.toLowerCase() === 'en')"
                        class="text-danger">*</span>
                    </label>
                    <textarea *ngIf="editMode" type="text" formControlName="body" class="form-control"
                              rows="3" [class.is-invalid]="notificationTemplateContents['controls'][i]['controls']['body'].invalid &&notificationForm &&
                                 notificationTemplateContents['controls'][i]['controls']['body'].touched"></textarea>
                    <div
                      *ngIf="editMode && (notificationForm.invalid && notificationTemplateContents['controls'][i]['controls']['body'].touched)"
                      class="invalid-feedback">
                      <div
                        *ngIf="notificationTemplateContents['controls'][i]['controls']['body'].errors?.required">{{'general.field_validation_required' | translate}}
                      </div>
                    </div>
                    <label *ngIf="!editMode"
                           class="form-control-plaintext text-break">{{notificationTemplate?.notificationTemplateContents[i]?.body ? notificationTemplate?.notificationTemplateContents[i]?.body : '---'}}
                    </label>
                  </div>

                </div>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
    </form>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <div *ngIf="notificationTemplate?.notificationTemplateCategorizing">
      <hr class="my-4 w-100">

      <div class="content__section mb-4">
        <label
          class="form-control-plaintext my-2">{{ "notification-management.recipient_attributes" | translate }}</label>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.camp" | translate }}</label>
            <label *ngIf="!editMode" class="form-control-plaintext">
            <span *ngIf="notificationTemplate?.notificationTemplateCategorizing?.campId as value; else elseBlock">
               {{currentLanguage.startsWith('ar') ? getCamp(value, 'ar') : getCamp(value, 'en')}}
            </span>
            </label>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.company" | translate }}</label>
            <label *ngIf="!editMode" class="form-control-plaintext">
            <span *ngIf="notificationTemplate?.notificationTemplateCategorizing?.companyId as value; else elseBlock">
               {{currentLanguage.startsWith('ar') ? getCompany(value, 'ar') : getCompany(value, 'en')}}
            </span>
            </label>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.nationality" | translate }}</label>
            <label *ngIf="!editMode" class="form-control-plaintext">
            <span
              *ngIf="notificationTemplate?.notificationTemplateCategorizing?.nationalityCode as value; else elseBlock">
               {{lookupService().localizedLabel(nationalities, value)}}
            </span>
            </label>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.age" | translate }}</label>
            <label *ngIf="!editMode" class="form-control-plaintext">
              <span
                *ngIf="notificationTemplate?.notificationTemplateCategorizing?.minAge || notificationTemplate?.notificationTemplateCategorizing?.maxAge; else elseBlock">
              <span
                *ngIf="notificationTemplate?.notificationTemplateCategorizing?.minAge as value">
                   {{'general.from' | translate}} {{value}}
              </span>
              <span
                *ngIf="notificationTemplate?.notificationTemplateCategorizing?.maxAge as value">
                   {{'general.to' | translate}} {{value}}
              </span>
                </span>
            </label>
          </div>

          <div class="form-group col">
            <label class="col-form-label">{{ "notification-management.gender" | translate }}</label>
            <label *ngIf="!editMode" class="form-control-plaintext">
            <span
              *ngIf="notificationTemplate?.notificationTemplateCategorizing?.gender as value; else elseBlock">
               <span *ngIf="value === 'M'">{{"notification-management.male" | translate}}</span>
               <span *ngIf="value === 'F'">{{"notification-management.female" | translate}}</span>
            </span>
            </label>
          </div>

        </div>
      </div>
    </div>

    <div class="d-flex {{editMode ? 'justify-content-between' : 'justify-content-end'}}">
      <button *ngIf="editMode" class="btn btn-outline-dcc-primary px-4 mr-1" (click)="cancel()">
        {{"general.btn_cancel" | translate}}</button>
      <span *ngIf="editMode">
        <button class="btn btn-outline-dcc-primary ml-auto mr-1 mr-lg-3 mr-md-2 px-4">
          {{"general.btn_save" | translate}}
        </button>
        <button class="btn btn-dcc-primary px-4">
          {{"notification-management.add_notification" | translate}}
        </button>
      </span>
      <span *ngIf="!editMode">
        <button class="btn btn-outline-dcc-primary px-4" (click)="enableEditMode()"
                [disabled]="notificationTemplate?.statusCode !== 'DRAFT'">
          {{ "general.btn_edit" | translate}}
        </button>
      </span>

    </div>
  </div>
</div>

<ng-template #elseBlock>---</ng-template>
