<a class="d-block button_back" href="javascript:void(0);" (click)="goBackToList()">
  <svg-icon styleClass="ml-4 mr-2 flip" icon="arrow-right"></svg-icon>
  <span class="mx-2 px-1">{{'general.btn_back' | translate}}</span>
</a>
<div class="content__wrapper">
  <div class="title__Page">
    <h3 *ngIf="editMode" class="sectionTitle">{{"notification-management.edit_notification_details" | translate }}</h3>
    <h3 *ngIf="!editMode" class="sectionTitle">{{"notification-management.display_notification" | translate }}</h3>
  </div>
  <div class="content__section" *ngIf="!canSeeAddUpdateUserDefinedNotification">
    {{'header.welcome' | translate}} <span
    class="font-weight-bold text-dcc-primary">{{'general.app_name' | translate}}</span>
  </div>

  <div class="content__section">

    <form [formGroup]="notificationForm">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.creation_date" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>
          <div *ngIf="editMode" class="input-group">
            <label class="form-control" [class.disabled-control]="!canEdit">{{now | date: 'dd/MM/yyyy HH:mm'}}</label>
            <div class="input-group-append">
                  <span class="input-group-text">
                    <svg-icon styleClass="fa-w-18 h6" icon="calendar"></svg-icon>
                  </span>
            </div>
          </div>
          <label *ngIf="!editMode" class="form-control-plaintext">
            {{formatDate(notificationTemplate?.creationDate)}}
            {{formatHijriDate(notificationTemplate?.creationDate)}}
            {{notificationTemplate?.creationDate | date: 'HH:mm'}}
          </label>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification_date" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>
          <label *ngIf="!editMode" class="form-control-plaintext">
            {{formatDate(notificationTemplate?.sendingDate)}}
            {{formatHijriDate(notificationTemplate?.sendingDate)}}
            {{notificationTemplate?.sendingDate | date: 'HH:mm'}}
          </label>
          <hijri-gregorian-datetimepicker [showLabel]="false"
                                          *ngIf="editMode"
                                          placeHolder="{{currentLanguage.startsWith('ar') ? 'HH:MM DD/MM/YYYY' : 'DD/MM/YYYY HH:MM'}}"
                                          name="sendingDate"
                                          formControlName="sendingDate"
                                          buttonClass="dcc-primary"
                                          class="datepicker {{f.sendingDate.errors && f.sendingDate.touched ? 'is-invalid' : ''}}"
                                          [isRequired]="true"
                                          [minGreg]="minSendingDateGregorian"
                                          [minHijri]="minSendingDateHijri"
                                          [GregLabel]="'general.cal_greg' | translate"
                                          [hijriLabel]="'general.cal_hijri' | translate"
                                          [selectedDateType]="selectedDateType"
                                          [grayed]="!canEdit"
                                          inputDatetimeFormat="dd/MM/yyyy HH:mm"
                                          #datePicker>
          </hijri-gregorian-datetimepicker>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.enabled" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>

          <span *ngIf="!editMode">
             <label *ngIf="notificationTemplate?.enabled"
                    class="form-control-plaintext">{{'general.label_yes' | translate}}</label>
             <label *ngIf="!notificationTemplate?.enabled"
                    class="form-control-plaintext">{{'general.label_no' | translate}}</label>
          </span>

          <div *ngIf="editMode" class="form-control p-0 btn-group btn-group-toggle" ngbRadioGroup name="radioEnabled">
            <label ngbButtonLabel class="btn" [class.disabled]="!canEdit"
                   [class.btn-select]="notificationForm.value.enabled">
              <input ngbButton
                     name="enabled"
                     type="radio"
                     formControlName="enabled"
                     [value]="true">
              {{'notification-management.enabled' | translate}}
            </label>
            <label ngbButtonLabel class="btn" [class.disabled]="!canEdit"
                   [class.btn-select]="!notificationForm.value.enabled">
              <input ngbButton
                     name="enabled"
                     type="radio"
                     formControlName="enabled"
                     [value]="false">
              {{'notification-management.disabled' | translate}}
            </label>
          </div>

        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification_type" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>
          <span *ngIf="!editMode">
             <label *ngIf="!notificationTemplate?.userSpecific"
                    class="form-control-plaintext">{{ "notification-management.general" | translate }}</label>
             <label *ngIf="notificationTemplate?.userSpecific"
                    class="form-control-plaintext">{{'notification-management.user_specific' | translate}}</label>
          </span>
          <select *ngIf="editMode" formControlName="userSpecific" [class.disabled-control]="!canEdit"
                  class="custom-select">
            <option [ngValue]="false">{{ "notification-management.general" | translate }}</option>
            <option [ngValue]="true">{{ "notification-management.user_specific" | translate }}</option>
          </select>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification-category" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>
          <label *ngIf="!editMode" class="form-control-plaintext">
            {{notificationTemplate?.categoryCode ? lookupService().localizedLabel(notificationCategories, notificationTemplate?.categoryCode) : '---'}}</label>
          <select *ngIf="editMode" class="custom-select" [class.disabled-control]="!canEdit"
                  formControlName="categoryCode">
            <option *ngFor="let notificationCategory of lookupService().localizedItems(notificationCategories)"
                    [ngValue]="notificationCategory.code">
              {{notificationCategory.label}}
            </option>
          </select>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification-severity" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>
          <span *ngIf="!editMode">
            <label *ngIf="notificationTemplate?.important" class="form-control-plaintext text-nowrap">
              <span class="status mr-1 Suspended severity-badge"></span>
              <span>{{'notification-management.important' | translate}}</span>
            </label>
            <label *ngIf="!notificationTemplate?.important" class="form-control-plaintext text-nowrap">
              <span class="status mr-1 done severity-badge"></span>
              <span>{{'notification-management.normal' | translate}}</span>
            </label>
          </span>

          <select *ngIf="editMode" formControlName="severity" [class.disabled-control]="!canEdit" class="custom-select">
            <option [ngValue]="true">{{ "notification-management.important" | translate }}</option>
            <option [ngValue]="false">{{ "notification-management.normal" | translate }}</option>
          </select>
        </div>

        <div class="form-group {{editMode ? 'col-sm-12 col-md-12 col-lg-8': 'col'}}">
          <label class="col-form-label">{{ "notification-management.notification_description" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>
          <input *ngIf="editMode" type="text" formControlName="description" class="form-control" maxlength="250"
                 [class.is-invalid]="f.description.invalid && f.description.touched">
          <div *ngIf="editMode && (f.description.invalid && f.description.touched)" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">{{'general.field_validation_required' | translate}}</div>
          </div>
          <label *ngIf="!editMode"
                 class="form-control-plaintext text-break">{{notificationTemplate?.description ? notificationTemplate?.description : '---'}}</label>
        </div>

        <div *ngIf="!editMode" class="form-group col">
          <label class="col-form-label">{{ "notification-management.notification-status" | translate }}</label>
          <label class="form-control-plaintext">
            {{notificationTemplate?.statusCode ? lookupService().localizedLabel(notificationStatuses, notificationTemplate?.statusCode) : '---'}}
          </label>
        </div>

        <div class="form-group col">
          <label class="col-form-label">{{ "notification-management.force_sending" | translate }}
            <span *ngIf="editMode" class="text-danger">*</span>
          </label>
          <span *ngIf="!editMode">
             <label *ngIf="notificationTemplate?.forceSending"
                    class="form-control-plaintext">{{ "general.dialog_confirmation_ok" | translate }}</label>
             <label *ngIf="!notificationTemplate?.forceSending"
                    class="form-control-plaintext">{{"general.dialog_confirmation_cancel" | translate}}</label>
          </span>
          <select *ngIf="editMode" formControlName="forceSending" [class.disabled-control]="!canEdit"
                  class="custom-select">
            <option [ngValue]="true">{{ "general.dialog_confirmation_ok" | translate }}</option>
            <option [ngValue]="false">{{ "general.dialog_confirmation_cancel" | translate }}</option>
          </select>
        </div>

      </div>
      <div>
        <ul ngbNav #nav="ngbNav" class="nav-tabs langTab" [activeId]="activeId">
          <li *ngFor="let language of translatedLanguages; let i = index" [ngbNavItem]="i + 1">
            <a ngbNavLink (click)="updateTabIndex(i + 1)">{{language.label}}
              <span *ngIf="editMode && (language.code.toLowerCase() === 'ar' || language.code.toLowerCase() === 'en')"
                    class="text-danger font-weight-normal">*</span>
              <svg-icon
                *ngIf="checkContentIsValid(i) || (notificationTemplateContents['controls'][i]['controls'].title.value.length > 0 && notificationTemplateContents['controls'][i]['controls'].body.value.length > 0)"
                styleClass="fa-w-20 ml-2"
                icon="check-circle"></svg-icon>
              <svg-icon *ngIf="canEdit && notificationTemplateContents['controls'][i].invalid && notificationTemplateContents['controls'][i]['controls'].title.touched
                && notificationTemplateContents['controls'][i]['controls'].body.touched"
                        styleClass="fa-w-20 ml-2 text-danger"
                        icon="exclamation-circle"></svg-icon>
            </a>
            <ng-template ngbNavContent>
              <div formArrayName="notificationTemplateContents">
                <div [formGroupName]="i" class="row row-cols-1">
                  <div class="form-group col-sm-12 col-md-6 col-lg-4">
                    <label class="col-form-label">{{ "notification-management.notification-title" | translate }}
                      <span
                        *ngIf="editMode && (language.code.toLowerCase() === 'ar' || language.code.toLowerCase() === 'en')"
                        class="text-danger">*</span>
                    </label>
                    <input *ngIf="editMode" type="text" formControlName="title" class="form-control" maxlength="50"
                           [class.disabled-control]="!canEdit"
                           [class.is-invalid]="notificationTemplateContents['controls'][i]['controls']['title'].invalid && notificationTemplateContents['controls'][i]['controls']['title'].touched">
                    <div
                      *ngIf="editMode && notificationForm.invalid && notificationTemplateContents['controls'][i]['controls']['title'].touched"
                      class="invalid-feedback">
                      <div
                        *ngIf="notificationTemplateContents['controls'][i]['controls']['title'].errors?.required">{{'general.field_validation_required' | translate}}
                      </div>
                    </div>
                    <label *ngIf="!editMode"
                           class="form-control-plaintext">{{notificationTemplate?.notificationTemplateContents[i]?.title ? getNotificationTitle(i) : '---'}}</label>
                  </div>

                  <div class="form-group col">
                    <label class="col-form-label">{{ "notification-management.notification-body" | translate }}
                      <span
                        *ngIf="editMode && (language.code.toLowerCase() === 'ar' || language.code.toLowerCase() === 'en')"
                        class="text-danger">*</span>
                    </label>
                    <textarea *ngIf="editMode" type="text" formControlName="body" class="form-control" maxlength="500"
                              rows="3" [class.disabled-control]="!canEdit"
                              [class.is-invalid]="notificationTemplateContents['controls'][i]['controls']['body'].invalid && notificationTemplateContents['controls'][i]['controls']['body'].touched"></textarea>
                    <div
                      *ngIf="editMode && (notificationForm.invalid && notificationTemplateContents['controls'][i]['controls']['body'].touched)"
                      class="invalid-feedback">
                      <div
                        *ngIf="notificationTemplateContents['controls'][i]['controls']['body'].errors?.required">{{'general.field_validation_required' | translate}}
                      </div>
                    </div>
                    <label *ngIf="!editMode"
                           class="form-control-plaintext text-break">{{notificationTemplate?.notificationTemplateContents[i]?.body ? getNotificationBody(i) : '---'}}
                    </label>
                  </div>

                </div>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
    </form>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <div *ngIf="editMode">
      <hr class="my-4 w-100">

      <div class="content__section mb-4">
        <label class="form-control-plaintext my-2">{{ "notification-management.choose_recipients" | translate }}</label>
        <label class="col-form-label">{{ "notification-management.send_notification_to" | translate }}</label>
        <div class="radio-group form-control-plaintext d-flex font-weight-normal"
             [class.disabled-radio-group]="!canEdit">
          <div class="radio-item align-items-baseline d-flex mr-5">
            <input class="mr-2"
                   name="target"
                   [value]="0"
                   type="radio"
                   [(ngModel)]="checkedCriteria"
                   [disabled]="!canEdit"
                   id="customRadioInline07">
            <label for="customRadioInline07">{{ "notification-management.all" | translate }}</label>
          </div>
          <div class="radio-item align-items-baseline d-flex mr-5">
            <input class="mr-2"
                   name="target"
                   [value]="1"
                   type="radio"
                   [(ngModel)]="checkedCriteria"
                   [disabled]="!canEdit"
                   id="customRadioInline08">
            <label for="customRadioInline08">{{ "notification-management.by_applicant_attributes" | translate }}</label>
          </div>
          <div class="radio-item align-items-baseline d-flex">
            <input class="mr-2"
                   name="target"
                   [value]="2"
                   type="radio"
                   [(ngModel)]="checkedCriteria"
                   [disabled]="!canEdit"
                   id="customRadioInline09">
            <label for="customRadioInline09">{{ "notification-management.selected_list" | translate }}</label>
          </div>
        </div>
      </div>
    </div>

    <div>
      <hr *ngIf="!editMode && checkedCriteria != 0" class="my-4 w-100">

      <div class="content__section mb-4">

        <div class="searchBox mb-4 animate slideIn delay" *ngIf="checkedCriteria === 1">
          <label *ngIf="!editMode && !notificationTemplate?.notificationTemplateCategorizing?.selectedApplicants"
                 class="form-control-plaintext my-2">{{ "notification-management.recipient_attributes" | translate }}</label>
          <form [formGroup]="categorizingForm" class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

            <div class="form-group col">
              <label class="col-form-label">{{ "notification-management.camp" | translate }}</label>
              <label *ngIf="!editMode" class="form-control-plaintext">
                <span *ngIf="notificationTemplate?.notificationTemplateCategorizing?.campId as value; else elseBlock">
               {{currentLanguage.startsWith('ar') ? getCamp(value, 'ar') : getCamp(value, 'en')}}
                </span>
              </label>
              <select *ngIf="editMode" class="custom-select" [class.disabled-control]="!canEdit"
                      formControlName="campId">
                <option [ngValue]="null" selected>{{ "notification-management.all" | translate }}</option>
                <option *ngFor="let camp of camps" [ngValue]="camp.id">
                  {{currentLanguage.startsWith('ar') ? camp.locationNameAr : camp.locationNameEn}}
                </option>
              </select>
            </div>

            <div class="form-group col">
              <label class="col-form-label">{{ "notification-management.company" | translate }}</label>
              <label *ngIf="!editMode" class="form-control-plaintext">
                <span
                  *ngIf="notificationTemplate?.notificationTemplateCategorizing?.companyId as value; else elseBlock">
               {{currentLanguage.startsWith('ar') ? getCompany(value, 'ar') : getCompany(value, 'en')}}
                </span>
              </label>
              <select *ngIf="editMode" class="custom-select" [class.disabled-control]="!canEdit"
                      formControlName="companyId">
                <option [ngValue]="null" selected>{{ "notification-management.all" | translate }}</option>
                <option *ngFor="let company of companies" [ngValue]="company.id">
                  {{currentLanguage.startsWith('en') ? company.labelEn : company.labelAr}}
                </option>
              </select>
            </div>

            <div class="form-group col">
              <label class="col-form-label">{{ "general.nationality" | translate }}</label>
              <label *ngIf="!editMode" class="form-control-plaintext">
                <span
                  *ngIf="notificationTemplate?.notificationTemplateCategorizing?.nationalityCode as value; else elseBlock">
                  {{lookupService().localizedLabel(nationalities, value)}}
                </span>
              </label>
              <select *ngIf="editMode" class="custom-select" [class.disabled-control]="!canEdit"
                      formControlName="nationalityCode">
                <option [ngValue]="null" selected>{{ "notification-management.all" | translate }}</option>
                <option *ngFor="let nationality of lookupService().localizedItems(nationalities)"
                        [ngValue]="nationality.code">
                  {{nationality.label}}
                </option>
              </select>
            </div>

            <div class="form-group col">
              <label class="col-form-label">{{ "notification-management.age" | translate }}</label>
              <label *ngIf="!editMode" class="form-control-plaintext">
                  <span
                    *ngIf="notificationTemplate?.notificationTemplateCategorizing?.minAge || notificationTemplate?.notificationTemplateCategorizing?.maxAge; else elseBlock">
                    <span *ngIf="notificationTemplate?.notificationTemplateCategorizing?.minAge as value">
                      {{'general.from' | translate}} {{value}}
                    </span>
                    <span *ngIf="notificationTemplate?.notificationTemplateCategorizing?.maxAge as value">
                      {{'general.to' | translate}} {{value}}
                    </span>
                  </span>
              </label>
              <div *ngIf="editMode" formGroupName="age" class="d-flex flex-nowrap">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="form-control prepend">{{'general.from' | translate}}</span>
                    </div>
                    <input type="number" class="form-control" formControlName="minAge"
                           onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57 && this.value.length <= 2"
                           step="1" [class.disabled-control]="!canEdit"
                           [class.is-invalid]="cf.age['controls']['minAge'].invalid && cf.age['controls']['minAge'].touched">
                    <div *ngIf="cf.age.invalid && cf.age.touched" class="invalid-feedback">
                      <div
                        *ngIf="cf.age['controls']['minAge'].errors?.min">
                        {{"notification-management.age_validation_min" | translate: {minLength: 0} }}
                      </div>
                      <div
                        *ngIf="cf.age['controls']['minAge'].errors?.max">
                        {{"notification-management.age_validation_max" | translate: {maxLength: 120} }}
                      </div>
                    </div>
                    <div class="text-danger input-error"
                         *ngIf="cf.age.invalid && cf.age['controls']['minAge'].touched && cf.age['controls']['maxAge'].touched">
                      <div
                        *ngIf="cf.age.errors?.range">{{'notification-management.age_validation_range' | translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="form-control append prepend">{{'general.to' | translate}}</span>
                    </div>
                    <input type="number" class="form-control" formControlName="maxAge"
                           onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57 && this.value.length <= 2"
                           step="1" [class.disabled-control]="!canEdit"
                           [class.is-invalid]="cf.age['controls']['maxAge'].invalid && cf.age['controls']['maxAge'].touched">
                    <div *ngIf="cf.age.invalid && cf.age.touched" class="invalid-feedback">
                      <div
                        *ngIf="cf.age['controls']['maxAge'].errors?.min">
                        {{"notification-management.age_validation_min" | translate: {minLength: 0} }}</div>
                      <div
                        *ngIf="cf.age['controls']['maxAge'].errors?.max">
                        {{"notification-management.age_validation_max" | translate: {maxLength: 120} }} </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group col">
              <label class="col-form-label">{{ "notification-management.gender" | translate }}</label>
              <label *ngIf="!editMode" class="form-control-plaintext">
                  <span *ngIf="notificationTemplate?.notificationTemplateCategorizing?.gender as value; else elseBlock">
                    <span *ngIf="value === 'M'">{{"notification-management.male" | translate}}</span>
                    <span *ngIf="value === 'F'">{{"notification-management.female" | translate}}</span>
                  </span>
              </label>
              <div *ngIf="editMode" class="radio-group form-control-plaintext d-flex font-weight-normal"
                   [class.disabled-radio-group]="!canEdit">
                <div class="radio-item align-items-baseline d-flex mr-5">
                  <input class="mr-2"
                         name="gender"
                         formControlName="gender"
                         type="radio"
                         [value]="null"
                         id="customRadioInline10">
                  <label for="customRadioInline10">{{"notification-management.all"| translate}}</label>
                </div>
                <div class="radio-item align-items-baseline d-flex mr-5">
                  <input class="mr-2"
                         name="gender"
                         formControlName="gender"
                         type="radio"
                         [value]="'M'"
                         id="customRadioInline11">
                  <label for="customRadioInline11">{{"notification-management.male"| translate}}</label>
                </div>
                <div class="radio-item align-items-baseline d-flex">
                  <input class="mr-2"
                         name="gender"
                         formControlName="gender"
                         type="radio"
                         [value]="'F'"
                         id="customRadioInline12">
                  <label for="customRadioInline12">{{"notification-management.female"| translate}}</label>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>


      <div *ngIf="checkedCriteria === 2">

        <div *ngIf="!editMode || !canEdit" class="content__section mb-4">
          <label class="form-control-plaintext my-2">
            {{ "notification-management.selected_applicants" | translate }}</label>

          <div class="table-responsive my-4">
            <table id="addedApplicantsSearchResult" class="table table-striped table-hover">
              <thead>
              <tr>
                <th scope="col">{{'card-management.name' | translate}}</th>
                <th scope="col">{{'card-management.applicant_id' | translate}}</th>
                <th scope="col">{{'general.nin' | translate}}</th>
                <th scope="col">{{'card-management.passport_number' | translate}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="false" class="text-center">
                <td colspan="10">
                  <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set"></svg-icon>
                  <p class="text-light-gray mb-3">{{ "general.table_emtpy_text" | translate }}</p>
                </td>
              </tr>
              <tr
                *ngFor="let applicant of savedApplicants">
                <td>{{applicant?.fullNameAr}} {{applicant?.fullNameEn}}</td>
                <td>{{applicant?.digitalIds[0]?.uin}}</td>
                <td>{{applicant?.idNumber}}</td>
                <td class="ltr">{{applicant?.passportNumber}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <nav aria-label="Page navigation example" *ngIf="page?.content && page?.totalElements > 0">
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.disabled]="page?.first">
                <a class="page-link" (click)="listApplicants(ids, 0)"
                   tabindex="-1">{{'general.nav_first' | translate}}</a>
              </li>

              <li class="page-item" [class.disabled]="page?.first">
                <a class="page-link" (click)="listApplicants(ids, page?.number-1)"
                   tabindex="-1">{{'general.nav_previous' | translate}}</a>
              </li>
              <li class="page-item active">
                <a class="page-link" [class.disabled]="true">{{(page?.number + 1) + ' / ' + page?.totalPages}}</a>
              </li>
              <li class="page-item" [class.disabled]="page?.last">
                <a class="page-link"
                   (click)="listApplicants(ids, page?.number+1)">{{'general.nav_next' | translate}}</a>
              </li>

              <li class="page-item" [class.disabled]="page?.last">
                <a class="page-link"
                   (click)="listApplicants(ids, page?.totalPages-1)">{{'general.nav_last' | translate}}</a>
              </li>
            </ul>
          </nav>

        </div>

        <div *ngIf="editMode && canEdit">

          <div class="dashes flex-center-column my-3 p-5" *ngIf="addedApplicants.length === 0">
            <img class="my-5" src="assets/images/add-cards.jpg"
                 alt='{{ "printing-management.new_request" | translate }}'>
            <button id="addApplicant" (click)="openSearchModal(showAdd)" class="btn btn-outline-dcc-primary px-4">
              <svg-icon styleClass="mr-2" icon="plus"></svg-icon>
              <span>{{ "general.btn_add" | translate }}</span>
            </button>
          </div>

          <div *ngIf="addedApplicants?.length > 0">

            <div class="dashes flex-center-between py-2 px-4">

              <div>
                <span class="h5 font-weight-bold text-dcc-primary mr-3">{{addedApplicants.length}}</span>
                <span>{{'notification-management.applicants_were_selected' | translate}}</span>
              </div>

              <button class="btn btn-outline-dcc-primary px-4" (click)="openSearchModal(showAdd)">
                {{ "general.btn_add" | translate }}
              </button>

            </div>

            <div class="table-responsive my-4">
              <table class="table table-striped table-hover">
                <thead>
                <tr>
                  <th scope="col">{{'card-management.name' | translate}}</th>
                  <th scope="col">{{'card-management.applicant_id' | translate}}</th>
                  <th scope="col">{{'general.nin' | translate}}</th>
                  <th scope="col">{{'card-management.passport_number' | translate}}</th>
                  <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="false" class="text-center">
                  <td colspan="10">
                    <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set"></svg-icon>
                    <p class="text-light-gray mb-3">{{ "general.table_emtpy_text" | translate }}</p>
                  </td>
                </tr>
                <tr
                  *ngFor="let applicant of addedApplicants | slice: (addedApplicantsCurrentPage * addedApplicantsPageSize) - addedApplicantsPageSize :addedApplicantsCurrentPage * addedApplicantsPageSize">
                  <td>{{applicant?.fullNameAr}} {{applicant?.fullNameEn}}</td>
                  <td>{{applicant?.digitalIds[0]?.uin}}</td>
                  <td>{{applicant?.idNumber}}</td>
                  <td class="ltr">{{applicant?.passportNumber}}</td>
                  <td>
                    <button (click)="undoAddApplicant(applicant?.id)"
                            class="btn btn-sm btn-outline-danger tblView"> {{"general.btn_delete" | translate}}
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="addedApplicantsCurrentPage === 1">
                  <a class="page-link" (click)="setCurrentPage(1)" tabindex="-1">{{'general.nav_first' | translate}}</a>
                </li>
                <li class="page-item" [class.disabled]="addedApplicantsCurrentPage === 1">
                  <a class="page-link" (click)="setCurrentPage(addedApplicantsCurrentPage - 1)"
                     tabindex="-1">{{'general.nav_previous' | translate}}</a>
                </li>
                <li class="page-item active">
                  <a
                    class="page-link">{{addedApplicantsCurrentPage + ' / ' + getTotalPages(addedApplicants.length, addedApplicantsPageSize)}}</a>
                </li>
                <li class="page-item"
                    [class.disabled]="addedApplicantsCurrentPage === getTotalPages(addedApplicants.length, addedApplicantsPageSize)">
                  <a class="page-link"
                     (click)="setCurrentPage(addedApplicantsCurrentPage + 1)">{{'general.nav_next' | translate}}</a>
                </li>
                <li class="page-item"
                    [class.disabled]="addedApplicantsCurrentPage === getTotalPages(addedApplicants.length, addedApplicantsPageSize)">
                  <a class="page-link"
                     (click)="setCurrentPage(getTotalPages(addedApplicants.length, addedApplicantsPageSize))">{{'general.nav_last' | translate}}</a>
                </li>
              </ul>
            </nav>

          </div>
        </div>

      </div>

    </div>

    <div class="d-flex {{editMode ? 'justify-content-between' : 'justify-content-end'}}">
      <button *ngIf="editMode" class="btn btn-outline-dcc-primary px-4 mr-1" (click)="cancel()">
        {{"general.btn_cancel" | translate}}</button>
      <span *ngIf="editMode">
        <button class="btn btn-outline-dcc-primary ml-auto mr-1 mr-lg-3 mr-md-2 px-4"
                (click)="save()">
          {{"general.btn_save" | translate}}
          </button>
      </span>
      <span *ngIf="!editMode">
        <button class="btn btn-outline-dcc-primary px-4" (click)="enableEditMode()">
          {{ "general.btn_edit" | translate}}
        </button>
      </span>

    </div>
  </div>
</div>

<ng-template #showAdd let-modal>
  <div class="modal-header">
    <h4> {{ "notification-management.add_user_defined_notifications" | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="resetSelectionModal()">
      <span aria-hidden="true" class="h2">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="searchForm" name="searchApplicant"
          class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class="form-group col">
        <label class="col-form-label">{{'card-management.applicant_id' | translate }}</label>
        <input id="uin" formControlName="uin" class="form-control"
               onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57 && this.value.length < 14"
               min="0" step="1">
      </div>

      <div class="form-group col">
        <label class="col-form-label">{{'general.nin' | translate }}</label>
        <input formControlName="idNumber" class="form-control"
               onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57 && this.value.length < 10"
               min="0" step="1">
      </div>

      <div class="form-group col">
        <label class="col-form-label">{{'card-management.passport_number' | translate }}</label>
        <input id="passportNumber" formControlName="passportNumber" type="text" class="form-control"
               onkeypress="return this.value.length <= 9">
      </div>

      <div class="form-group col-12">
        <button id="searchCard" type="submit" (click)="search(0)"
                class="btn btn-dcc-primary px-5 mr-3">
          {{ "general.btn_search" | translate }}
        </button>
      </div>

    </form>

    <div class="table-responsive my-4">
      <div class="table_scroll">
        <table id="selectedApplicantsSearchResult" class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">{{'card-management.name' | translate}}</th>
            <th scope="col">{{'card-management.applicant_id' | translate}}</th>
            <th scope="col">{{'general.nin' | translate}}</th>
            <th scope="col">{{'card-management.passport_number' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="isSelectLoading" class="text-center">
            <td colspan="10" style="height: 200px;">
              <div class="preloader inner_page">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </td>
          </tr>
          <tr *ngIf="(!page?.content  || applicants.length === 0) && !isSelectLoading"
              class="text-center">
            <td colspan="10">
              <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set"></svg-icon>
              <p class="text-light-gray mb-3">{{ "general.table_emtpy_text" | translate }}</p>
            </td>
          </tr>
          <ng-container *ngIf="!isSelectLoading">
            <tr *ngFor="let applicant of applicants">
              <td>
                <div class="custom-control custom-checkbox my-2">
                  <input type="checkbox" class="custom-control-input" id="applicantCheck-{{applicant.id}}"
                         [checked]="isChecked(applicant)"
                         (change)="selectOne($event, applicant.id)">
                  <label class="custom-control-label mx-3" for="applicantCheck-{{applicant.id}}"></label>
                </div>
              </td>
              <td *ngIf="currentLanguage.startsWith('ar')">{{applicant?.fullNameAr}}
                <br>{{applicant?.fullNameEn}}</td>
              <td *ngIf="currentLanguage.startsWith('en')">{{applicant?.fullNameEn}}
                <br>{{applicant?.fullNameAr}}</td>
              <td>{{applicant?.digitalIds[0]?.uin}}</td>
              <td>{{applicant?.idNumber}}</td>
              <td class="ltr">{{applicant?.passportNumber}}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <nav aria-label="Page navigation example" *ngIf="page?.content && page?.totalElements > 0">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="page?.first">
          <a class="page-link" (click)="search(0)" tabindex="-1">{{'general.nav_first' | translate}}</a>
        </li>
        <li class="page-item" [class.disabled]="page?.first">
          <a class="page-link" (click)="search(page?.number-1)"
             tabindex="-1">{{'general.nav_previous' | translate}}</a>
        </li>
        <li class="page-item active">
          <a class="page-link">{{(page?.number + 1) + ' / ' + page?.totalPages}}</a>
        </li>
        <li class="page-item" [class.disabled]="page?.last">
          <a class="page-link" (click)="search(page?.number+1)">{{'general.nav_next' | translate}}</a>
        </li>
        <li class="page-item" [class.disabled]="page?.last">
          <a class="page-link" (click)="search(page?.totalPages-1)">{{'general.nav_last' | translate}}</a>
        </li>
      </ul>
    </nav>

  </div>
  <div class="modal-footer" *ngIf="selectedApplicants?.length">
    <button type="button" class="btn btn-outline-secondary" (click)="resetSelectionModal()">
      {{'general.btn_cancel' | translate }}
    </button>

    <button type="button" class="btn btn-dcc-primary" (click)="addApplicants()">
      {{'notification-management.add_no_applicants' | translate : {noApplicants: selectedApplicants.length} }}
    </button>
  </div>
</ng-template>

<ng-template #elseBlock>---</ng-template>
