
  <section class="border detailSection py-3 ">





      <div class="dash-b px-4 pb-3 mb-3">
        <span>
          {{'data-request-management.segment' | translate }}
          <span class="h5 font-weight-bold text-dcc-primary mx-3">{{ currentLanguage.startsWith("en") ? dataRequest?.dataSegment.labelEn : dataRequest?.dataSegment.labelAr }}</span>
        </span>
        <span>
          {{'data-request-management.items_count' | translate }}
          <span class="h5 font-weight-bold text-dcc-primary mx-3">{{dataRequest?.itemCount}}</span>
        </span>
      </div>


      <div class="px-4 d-flex">
        {{'data-request-management.processing_disclaimer_text' | translate}}
      </div>

  </section>

  <div class="table-responsive my-4">
    <div class="form-group alert alert-warning">
      <div class="d-inline-block mr-5">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="disclaimerChecked">
          <label class="custom-control-label" for="customCheck1">
          <span class="text-gray9">
            {{'data-request-management.policy_disclaimer_text_1' | translate}}
            <a href="assets/pdf/terms-and-conditions.pdf" target="_blank" class="px-1">
              <u>{{'data-request-management.policy_disclaimer_text_2' | translate}}</u>
            </a>
            {{'data-request-management.policy_disclaimer_text_3' | translate}}
          </span>
          </label>
        </div>
      </div>
    </div>
  </div>
