<form [formGroup]="uploadForm" class="row row-cols-1 row-cols-md-3 row-cols-lg-3" enctype="multipart/form-data">

  <div class="form-group col">
    <label class="col-form-label">{{'data-upload-management.choose_segment' | translate }}</label>
    <select class="custom-select">
      <option>{{'Applicant Data'}}</option>
      <option>{{'Tafweej Data'}}</option>
      <option>{{'Establishment Data'}}</option>
      <option>{{'Applicant Health Data'}}</option>
    </select>
  </div>

  <div class="form-group col">
    <label class="col-form-label">{{'data-upload-management.download_template' | translate }}</label>
    <div class="col-form-control text-center">
      <button class="btn btn-outline-dcc-primary px-6 py-2 border w-100 d-flex flex-center-column" (click)="downloadTemplate(1)" >
        <img src="assets/images/excel.svg" style="width: 60px;" alt="" >
        {{'general.btn_download' | translate}}
      </button>
    </div>
  </div>

  <div class="form-group col">
    <label class="col-form-label">{{'data-upload-management.upload_filled_document' | translate }}</label>
    <div class="input-group">
      <div class="custom-file mb-2">
        <input type="file" class="custom-file-input" id="fileData" formControlName="fileData"
               [required]="true" (change)="selectFile($event)"
               accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" />
        <label class="custom-file-label" for="fileData"><i class="fas fa-search"></i> {{'data-upload-management.choose_file' | translate}}</label>
      </div>
    </div>
    <div class="mt-1">
      <div *ngIf="currentFile" class="progress text-center mb-2">
        <ngb-progressbar type="success" textType="white" [value]="progress" [showValue]="true"></ngb-progressbar>
      </div>
      <button name="save_banner_image_button" type="button" (click)="uploadDataFile()" [disabled]="!selectedFiles"
              class="btn btn-dcc-primary rounded-22 px-5">{{'general.btn_upload' | translate }}</button>
    </div>
  </div>

</form>

<div class="bg-dcc-light p-3">
  <span class="h5 font-weight-bold text-dcc-primary mr-3">{{'6214'}}</span>
  <span>{{'data-upload-management.items_to_process' | translate}}</span>
</div>
