<div class="d-flex flex-column flex-center">
  <section class="detailSection border-right col-xxl-8">
    <div class="form-row">
      <div class="col-md-12">
        <div class="form-control-plaintext text-dcc-primary">
          <span>{{'printing-management.print_request_done_successfully' | translate }}</span>
        </div>
        <div class="form-control-plaintext text-dcc-primary">
          <span>{{'3621'}} {{'printing-management.print_request_number' | translate }}</span>
        </div>
        <div class="form-control-plaintext text-dcc-primary">
          <span>{{'printing-management.no_batches' | translate }} {{'5'}} {{'printing-management.no_cards' | translate }} {{'2451'}}</span>
        </div>
      </div>
    </div>
  </section>
</div>
