<a *ngIf="!isFullScreen" class="d-block button_back" href="javascript:void(0);" [routerLink]="['/']">
  <svg-icon styleClass="ml-4 mr-2 flip" icon="arrow-right"></svg-icon>
  <span class="mx-2 px-1">{{'general.btn_back' | translate}}</span>
</a>
<div class="content__wrapper">
  <div class="title__Page">
    <h3 class="font-weight-bold text-dark">{{'dashboard.mobile.title' | translate}}</h3>
    <div *ngIf="!isFullScreen">
      <button type="button" class="btn btn-outline-dcc-primary px-4 ml-md-3">
        <svg-icon styleClass="fa-w-14" icon="play"></svg-icon>
        {{'dashboard.general.full_screen' | translate}}
      </button>
    </div>
  </div>
  <div class="content__section" *ngIf="!canSeeMobileTrackingDashboard">
    {{'header.welcome' | translate}} <span
    class="font-weight-bold text-dcc-primary">{{'general.app_name' | translate}}</span>
  </div>
  <div class="content__section" *ngIf="canSeeMobileTrackingDashboard">

    <div class="row row-cols-1 row-cols-xl-2">
      <div class="col-12">
        <div class="h-100 p-3 border">
          <div class="py-3">
            <div class="row">
              <div class="col-xl-3">
                <div class="statistics">
                  <div class="flex-center-between">
                    <div>
                      <div class="sts-title">{{'dashboard.general.mobile_app_downloads' | translate}}</div>
                      <div class="sts-number text-dark">
                        <ng9-odometer [number]="mobileAppDownloadsData?.totalNumberOfMobileAppDownloads"></ng9-odometer>
                      </div>
                    </div>
                    <svg-icon styleClass="sts-icon fa-w-10 display-4" icon="mobile-android-alt"></svg-icon>
                  </div>

                  <p class="py-3">
                    <ngb-progressbar type="mobile"
                                     [value]="mobileAppDownloadsData?.totalNumberOfLoggedInUsers / mobileAppDownloadsData?.totalNumberOfMobileAppDownloads * 100"
                                     height="10px"></ngb-progressbar>
                  </p>

                  <div class="flex-center-between mt-2">
                    <div class="d-flex">
                      <svg-icon styleClass="text-mobile" icon="circle"></svg-icon>
                      <div class="px-3">{{'dashboard.general.logged_in' | translate}}</div>
                    </div>
                    <div>{{mobileAppDownloadsData?.totalNumberOfLoggedInUsers}}</div>
                  </div>
                  <div class="flex-center-between mt-2">
                    <div class="d-flex">
                      <svg-icon styleClass="text-gray-300" icon="circle"></svg-icon>
                      <div class="px-3">{{'dashboard.general.logged_out' | translate}}</div>
                    </div>
                    <div>{{mobileAppDownloadsData?.totalNumberOfLoggedOutUsers}}</div>
                  </div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="py-3">
                  <canvas baseChart #companiesByApplicantCount
                          [datasets]="datasets"
                          [labels]="this.weekDays"
                          [options]="chartsConfig.lineChartOptions"
                          [colors]="chartsConfig.lineChartColors"
                          chartType="line" height="60"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.mobile.app_usage_by_age' | translate}}</h5>
            </div>
          </div>
          <div class="py-3">
            <div class="d-flex flex-column flex-md-row justify-content-between">
            </div>
            <div class="col-12">
              <div class="w-100">
                <canvas baseChart
                        [datasets]="[{data: appUsersCount, maxBarThickness: 30}]"
                        [options]="chartsConfig.barChartOptions"
                        [labels]="appUsersLabels"
                        [colors]="[{
                          backgroundColor: backgroundColors,
                          hoverBackgroundColor: ['#2B7127', '#4F8B4B', '#79A476', '#8CB189', '#E1EAE0']
                    }]"
                        chartType="bar" height="200"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.mobile.app_usage_by_company' | translate}}</h5>
              <button *ngIf="minCompanies" type="button" class="btn border mx-3"
                      (click)="loadMaxCompanies()">
                {{'dashboard.mobile.min_usage' | translate}}
                <svg-icon icon="sort-amount-down"></svg-icon>
              </button>
              <button *ngIf="!minCompanies" type="button" class="btn border mx-3"
                      (click)="loadMinCompanies()">
                {{'dashboard.mobile.max_usage' | translate}}
                <svg-icon icon="sort-amount-up"></svg-icon>
              </button>
            </div>
          </div>
          <div class="py-3">
            <div class="d-flex flex-column flex-md-row justify-content-between">
            </div>
            <div class="col-12">
              <div class="w-100">
                <canvas baseChart
                        [datasets]="[{data: companyCounts, maxBarThickness: 30}]"
                        [options]="chartsConfig.barChartOptions"
                        [labels]="companyLabels"
                        [colors]="[{
                          backgroundColor: ['#2B7127', '#4F8B4B', '#79A476', '#8CB189', '#E1EAE0'],
                          hoverBackgroundColor: ['#2B7127', '#4F8B4B', '#79A476', '#8CB189', '#E1EAE0']
                    }]"
                        chartType="bar" height="200"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 mt-4">
        <div class="h-100 p-3 border">
          <div class="flex-center-between">
            <div class="flex-center-vert flex-wrap">
              <h5 class="sts">{{'dashboard.mobile.app_usage_map' | translate}}</h5>
              <ul ngbNav #nav="ngbNav" class="nav-tabs groupBtn">
                <li ngbNavItem>
                  <a ngbNavLink (click)="loadHeatMap()">{{'dashboard.mobile.heat_map' | translate}}</a>
                  <ng-template ngbNavContent>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                      <div class="form-group col">
                        <label class="col-form-label">المنطقة</label>
                        <select class="custom-select">
                          <option selected value="1">الكل</option>
                          <option value="2">الرياض</option>
                          <option value="2">جدة</option>
                        </select>
                      </div>
                      <div class="form-group col">
                        <label class="col-form-label">الشركة</label>
                        <select class="custom-select">
                          <option selected value="1">الكل</option>
                          <option *ngFor="let company of companyNames" [ngValue]="company.id">
                            {{currentLanguage.startsWith('en') ? company.labelEn : company.labelAr}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col">
                        <label class="col-form-label">الفترة من - إلى</label>
                        <div class='input-group mr-3 calendar'>
                          <input class="form-control bg-transparent" placeholder="yyyy-mm-dd" name="wp">
                          <i class="icon"></i>
                        </div>
                      </div>
                      <div class="form-group col">
                        <!--TODO TO BE REFACTORED-->
                        <label class="col-form-label">{{'general.nationality' | translate}}</label>
                        <select class="custom-select">
                          <option selected value="1">{{'general.all' | translate}}</option>
                          <option *ngFor="let nationality of lookupService().localizedItems(nationalities)"
                                  [ngValue]="nationality.code">
                            {{nationality.label}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="flex-center">
                      <!--Start MAP-->
                      <div class="map py-3">
                        <div id="map" style="height: 100%; width: 100%;"></div>
                      </div>
                      <!--End Map-->
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>{{'dashboard.mobile.groups' | translate}}</a>
                  <ng-template ngbNavContent>
                    <div class="flex-center">
                      <svg-icon styleClass="fa-10x text-dcc-light" icon="empty-set"></svg-icon>
                    </div>
                  </ng-template>
                </li>
              </ul>

            </div>
          </div>
          <div [ngbNavOutlet]="nav" class="p-3 mx-n3 mb-n3 mt-3 bg-dcc-light"></div>
        </div>
      </div>

    </div>

  </div>
</div>
