<div class="dashes flex-center-column my-5 p-5" *ngIf="selectedCards.length === 0">

  <img class="my-5" src="assets/images/add-cards.jpg" alt='{{ "printing-management.new_request" | translate }}'>

  <button id="addPrintingRequest-01" class="btn btn-outline-dcc-primary px-4" (click)="openLg(showAdd)">
    {{ "printing-management.new_request" | translate }}
  </button>

</div>

<ng-template #showAdd let-modal>
  <div class="modal-header">
    <h4> {{ "printing-management.title" | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class="form-group col">
        <label class="col-form-label">{{'printing-management.id_number' | translate }}</label>
        <input type="text" class="form-control"/>
      </div>
      <div class="form-group col">
        <label class="col-form-label">{{'printing-management.hamlah_number' | translate }}</label>
        <input type="text" class="form-control"/>
      </div>
      <div class="form-group col">
        <label class="col-form-label">{{'printing-management.motawef_number' | translate }}</label>
        <input type="text" class="form-control"/>
      </div>
      <div class="form-group col">
        <label class="col-form-label">{{'card-management.passport_number' | translate }}</label>
        <input type="text" class="form-control"/>
      </div>
      <div class="form-group col">
        <label class="col-form-label">{{'card-management.nationality' | translate }}</label>
        <select class="custom-select">
          <option>{{'سعودية'}}</option>
          <option>{{'مصرية'}}</option>
          <option>{{'تونسية'}}</option>
          <option>{{'هندية'}}</option>
          <option>{{'أردنية'}}</option>
          <option>{{'فلسطينية'}}</option>
        </select>
      </div>

      <div class="form-group col-12">
        <button id="searchCard" type="submit" (click)="search()" class="btn btn-dcc-primary px-5 mr-3">
          {{ "general.btn_search" | translate }}
        </button>
      </div>

    </form>

    <div class="table-responsive my-4">
      <table id="selectedApplicantsSearchResult" class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">
            <div class="custom-control custom-checkbox my-2">
              <input type="checkbox" class="custom-control-input" id="selectedApplicantCheck-01"
                     [checked]="selectedCards.length === cards.length"
                     (change)="selectAllCards($event)">
              <label class="custom-control-label mx-3" for="selectedApplicantCheck-01"></label>
            </div>
          </th>
          <th scope="col">{{'card-management.applicant_name' | translate}}</th>
          <th scope="col">{{'card-management.applicant_id' | translate}}</th>
          <th scope="col">{{'card-management.card_number' | translate}}</th>
          <th scope="col">{{'card-management.passport_number' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="false" class="text-center">
          <td colspan="10">
            <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set"></svg-icon>
            <p class="text-light-gray mb-3">{{ "general.table_emtpy_text" | translate }}</p>
          </td>
        </tr>
        <tr *ngFor="let card of cards">
          <td scope="row">
            <div class="custom-control custom-checkbox my-2">
              <input type="checkbox" class="custom-control-input" id="applicantCheck-{{card.id}}"
                     [checked]="selectedCards.includes(card)"
                     (change)="selectOneCard($event, card.id)">
              <label class="custom-control-label mx-3" for="applicantCheck-{{card.id}}"></label>
            </div>
          </td>
          <td>{{card?.applicantRitual?.applicant?.fullNameAr}} {{card?.applicantRitual?.applicant?.fullNameEn}}</td>
          <td>{{card?.applicantRitual?.applicant?.digitalIds[0]?.uin}}</td>
          <td>{{card?.referenceNumber}}</td>
          <td class="ltr">{{card?.applicantRitual?.applicant?.passportNumber}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <nav aria-label="Page navigation example" *ngIf="page?.content">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="page?.first">
          <a class="page-link" (click)="loadPage(0)" tabindex="-1">{{'general.nav_first' | translate}}</a>
        </li>

        <li class="page-item" [class.disabled]="page?.first">
          <a class="page-link" (click)="loadPage(page?.number-1)"
             tabindex="-1">{{'general.nav_previous' | translate}}</a>
        </li>
        <li class="page-item active">
          <a class="page-link" (click)="loadPage(page.number)">{{(page?.number + 1) + ' / ' + page?.totalPages}}</a>
        </li>
        <li class="page-item" [class.disabled]="page?.last">
          <a class="page-link" (click)="loadPage(page?.number+1)">{{'general.nav_next' | translate}}</a>
        </li>

        <li class="page-item" [class.disabled]="page?.last">
          <a class="page-link" (click)="loadPage(page?.totalPages-1)">{{'general.nav_last' | translate}}</a>
        </li>
      </ul>
    </nav>

  </div>
  <div class="modal-footer justify-content-end">
    <button type="button" class="btn btn-dcc-primary px-5 ml-3"
            *ngIf="selectedCards?.length > 0"
            (click)="save()">إضافة {{selectedCards.length}} بطاقة
    </button>
  </div>
</ng-template>

<div *ngIf="addedCards.length > 0">
  <div class="table-responsive my-4">
    <table id="addedApplicantsSearchResult" class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">{{'card-management.applicant_name' | translate}}</th>
        <th scope="col">{{'card-management.applicant_id' | translate}}</th>
        <th scope="col">{{'card-management.card_number' | translate}}</th>
        <th scope="col">{{'card-management.passport_number' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="false" class="text-center">
        <td colspan="10">
          <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set"></svg-icon>
          <p class="text-light-gray mb-3">{{ "general.table_emtpy_text" | translate }}</p>
        </td>
      </tr>
      <tr *ngFor="let card of addedCards">
        <td>{{card?.applicantRitual?.applicant?.fullNameAr}} {{card?.applicantRitual?.applicant?.fullNameEn}}</td>
        <td>{{card?.applicantRitual?.applicant?.digitalIds[0]?.uin}}</td>
        <td>{{card?.referenceNumber}}</td>
        <td class="ltr">{{card?.applicantRitual?.applicant?.passportNumber}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation example" *ngIf="page?.content">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="page?.first">
        <a class="page-link" (click)="loadPage(0)" tabindex="-1">{{'general.nav_first' | translate}}</a>
      </li>

      <li class="page-item" [class.disabled]="page?.first">
        <a class="page-link" (click)="loadPage(page?.number-1)" tabindex="-1">{{'general.nav_previous' | translate}}</a>
      </li>
      <li class="page-item active">
        <a class="page-link" (click)="loadPage(page.number)">{{(page?.number + 1) + ' / ' + page?.totalPages}}</a>
      </li>
      <li class="page-item" [class.disabled]="page?.last">
        <a class="page-link" (click)="loadPage(page?.number+1)">{{'general.nav_next' | translate}}</a>
      </li>

      <li class="page-item" [class.disabled]="page?.last">
        <a class="page-link" (click)="loadPage(page?.totalPages-1)">{{'general.nav_last' | translate}}</a>
      </li>
    </ul>
  </nav>

  <div class="dashes flex-center-between py-3 px-4">

    <div>
      <span class="h5 font-weight-bold text-dcc-primary mr-3">{{addedCards.length}}</span>
      <span>{{'printing-management.selected_smart_card' | translate}}</span>
    </div>

    <button id="addPrintingRequest-02" class="btn btn-outline-dcc-primary px-4" (click)="openLg(showAdd)">
      {{ "printing-management.new_request" | translate }}
    </button>

  </div>
</div>


