.btn.btn-link {
  &:hover, &:focus, &:active {
    box-shadow: none;
  }
}

.selectAll_label span {
  line-height: 1.72;
  padding-top: 0.43rem;
  padding-bottom: 0.43rem;
  display: inline;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#selectAll_count + #selectbtns {
  margin: 20px;
}
