<a class="d-block button_back" href="javascript:void(0);" (click)="goBack()">
  <svg-icon styleClass="ml-4 mr-2 flip" icon="arrow-right"></svg-icon>
  <span class="mx-2 px-1">{{'general.btn_back' | translate}}</span>
</a>
<div class="content__wrapper">
  <div class="title__Page">
    <h3 class="sectionTitle">{{'data-request-management.request_details' | translate }}</h3>
  </div>
  <div class="content__section" *ngIf="!canSeeDataRequestDetails">
    {{'header.welcome' | translate}} <span
    class="font-weight-bold text-dcc-primary">{{'general.app_name' | translate}}</span>
  </div>

  <div class="content__section" *ngIf="canSeeDataRequestDetails && !isLoading">
    <div class="cardBox row row-cols-1 row-cols-md-2 row-cols-lg-6">
      <div class="form-group col mb-lg-0">
        <label class="col-form-label">{{'data-request-management.transaction_number' | translate}}</label>
        <span class="form-control-plaintext ">{{dataRequest?.referenceNumber}}</span>
      </div>
      <div class="form-group col mb-lg-0">
        <label class="col-form-label">{{'data-request-management.segment' | translate}}</label>
        <span
          class="form-control-plaintext ">{{currentLanguage.startsWith("en") ? dataRequest?.dataSegment.labelEn : dataRequest?.dataSegment.labelAr}}</span>
      </div>
      <div class="form-group col mb-lg-0">
        <label class="col-form-label">{{'data-request-management.channel' | translate}}</label>
        <span
          class="form-control-plaintext ">{{dataRequest?.channel ? ('data-request-management.channel_' + dataRequest?.channel | translate) : ''}}</span>
      </div>
      <div class="form-group col mb-lg-0">
        <label class="col-form-label">{{'data-request-management.request_date' | translate}}</label>
        <span class="form-control-plaintext ">{{dataRequest?.creationDate | dateTimeFormat}}</span>
      </div>
      <div class="form-group col mb-lg-0">
        <label class="col-form-label">{{'data-request-management.request_status' | translate}}</label>
        <span class="form-control-plaintext "><span
          class="status mr-1 {{dataRequestService.buildStatusClass(dataRequest?.status)}}"></span>{{currentLanguage.startsWith("en") ? dataRequest?.status.labelEn : dataRequest?.status.labelAr}}</span>
      </div>
    </div>

    <div class="dashes mx-1 row row-cols-1 row-cols-md-2 row-cols-lg-6">
      <div class="form-group col mb-lg-0">
        <label class="col-form-label">{{'data-request-management.items_count' | translate}}</label>
        <span class="form-control-plaintext ">{{dataRequest?.itemCount}}</span>
      </div>
      <div class="form-group col mb-lg-0">
        <label class="col-form-label">{{'data-request-management.error_items_count' | translate}}</label>
        <span class="form-control-plaintext ">{{dataRequest?.errorCount}}</span>
      </div>
      <div class="form-group col mb-lg-0">
        <label class="col-form-label">{{'data-request-management.btn_download_original_file' | translate}}</label>
        <span class="form-control-plaintext ">
          <a class="action mx-2" href="javascript:void(0)" (click)="downloadOriginalFile(dataRequest.id)"
             ngbTooltip="{{'data-request-management.btn_download_original_file' | translate}}">
            <svg-icon styleClass="fa-w-20 h5" icon="cloud-download"></svg-icon>
          </a>
        </span>
      </div>
      <div class="form-group col mb-lg-0" *ngIf="dataRequest.status.id === 5">
        <label class="col-form-label">{{'data-request-management.btn_download_errors_file' | translate}}</label>
        <span class="form-control-plaintext ">
          <a class="action mx-2" href="javascript:void(0)" (click)="downloadErrorsFile(dataRequest.id)"
             ngbTooltip="{{'data-request-management.btn_download_errors_file' | translate}}">
          <svg-icon styleClass="fa-w-16 h5 text-danger" icon="exclamation-circle"></svg-icon>
        </a>
        </span>
      </div>
    </div>
  </div>

  <!-- Loading spinner placeholder -->
  <div *ngIf="isLoading" class="preloader">
    <div></div>
    <div></div>
    <div></div>
  </div>

</div>
