<a class="d-block button_back" href="javascript:void(0);" (click)="navigateToList()">
  <svg-icon styleClass="ml-4 mr-2 flip" icon="arrow-right"></svg-icon>
  <span class="mx-2 px-1">{{'general.btn_back' | translate}}</span>
</a>
<div class="content__wrapper">
  <div class="title__Page">
    <h3 class="sectionTitle">{{"incident-management.title" | translate }}</h3>
  </div>
  <div class="content__section" *ngIf="!canSeeAddUpdateIncidents">
    {{'header.welcome' | translate}} <span
    class="font-weight-bold text-dcc-primary">{{'general.app_name' | translate}}</span>
  </div>

  <h5 class="subtitle__Page mb-4">{{'incident-management.incident_details' | translate}}</h5>
  <div class="content__section">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class="form-group col">
        <label class="col-form-label">{{"incident-management.incident_number" | translate }}</label>
        <label class="form-control-plaintext">{{incident?.referenceNumber}}</label>
      </div>
      <div class="form-group col">
        <label class="col-form-label">{{"incident-management.applicant_shaaer_id" | translate }}</label>
        <label class="form-control-plaintext">{{incident?.applicantRitual?.applicant?.digitalIds[0]?.uin}}</label>
      </div>
      <div class="form-group col">
        <label class="col-form-label">{{"incident-management.applicant_name" | translate }}</label>
        <label
          class="form-control-plaintext">{{currentLanguage.startsWith('ar') ? incident?.applicantRitual?.applicant?.fullNameAr : incident?.applicantRitual?.applicant?.fullNameEn}}</label>
      </div>
      <div class="form-group col">
        <label class="col-form-label">{{"incident-management.incident_type" | translate }}</label>
        <label
          class="form-control-plaintext">{{incident?.typeCode ? lookupService().localizedLabel(incidentTypes, incident?.typeCode) : '---'}}</label>
      </div>
      <div class="form-group col">
        <label class="col-form-label">{{"incident-management.incident_date" | translate }}</label>
        <label class="form-control-plaintext">{{incident?.creationDate | dateFormat}}</label>
      </div>
      <div class="form-group col">
        <label class="col-form-label">{{"incident-management.status" | translate }}</label>
        <label class="form-control-plaintext">
          <span class="status {{buildStatusClass(incident?.statusCode)}} mr-1"></span>
          <span>{{incident?.statusCode ? lookupService().localizedLabel(incidentStatuses, incident?.statusCode) : '---'}}</span>
        </label>
      </div>
    </div>
    <div class="row rows-cols-1">
      <div class="form-group col">
        <label class="col-form-label">{{"incident-management.incident_description" | translate }}</label>
        <label class="form-control-plaintext text-break">{{incident?.description}}</label>
      </div>
    </div>
    <div class="row rows-cols-1">
      <div class="form-group col" *ngIf="incident?.incidentAttachments?.length > 0">
        <label class="col-form-label">{{"incident-management.attachments" | translate }}</label>
        <span *ngFor="let attachment of incident?.incidentAttachments">
          <a (click)="downloadAttachment(attachment?.id)"
             class="form-control-plaintext attachment"><u>{{attachment?.filePath.substring(attachment?.filePath?.lastIndexOf("/") + 1)}}</u></a>
            </span>
      </div>
    </div>
    <div *ngIf="incident?.locationLat && incident?.locationLng" class="row row-cols-1">
      <div class="form-group col">
        <label class="col-form-label">{{"incident-management.location" | translate }}</label>
        <div class="map mt-1" *ngIf="mapIsReady">
          <google-map [width]="'100%'" [height]="'100%'" [options]="mapOptions">
            <map-marker [position]="{lat: incident?.locationLat, lng: incident?.locationLng}"
                        [options]="{icon: icon}"></map-marker>
          </google-map>
        </div>
      </div>
    </div>

    <hr class="my-4 w-100">
    <h5 class="subtitle__Page mb-4">{{'incident-management.incident_resolution' | translate}}</h5>

    <form [formGroup]="incidentForm">

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="form-group col" *ngIf="isUnderProcessing(incident)">
          <label class="col-form-label">{{ "incident-management.operation" | translate }}</label>
          <div class="radio-group form-control-plaintext d-flex font-weight-normal">
            <div class="radio-item align-items-baseline d-flex mr-5">
              <input class="mr-2"
                     name="operation"
                     formControlName="operation"
                     [value]="MARK_AS_RESOLVED"
                     type="radio"
                     id="customRadioInline01">
              <label for="customRadioInline01">{{'incident-management.mark_as_resolved' | translate}}</label>
            </div>
            <div class="radio-item align-items-baseline d-flex">
              <input class="mr-2"
                     name="operation"
                     formControlName="operation"
                     [value]="MARK_AS_CLOSED"
                     type="radio"
                     id="customRadioInline02">
              <label for="customRadioInline02">{{'incident-management.mark_as_closed' | translate}}</label>
            </div>
          </div>
        </div>
        <div class="form-group col" *ngIf="!isUnderProcessing(incident)">
          <label class="col-form-label">{{"incident-management.operation" | translate }}</label>
          <label
            class="form-control-plaintext">{{(incident?.statusCode === 'RESOLVED' ? 'incident-management.mark_as_resolved' : 'incident-management.mark_as_closed') | translate}}</label>
        </div>
        <div class="form-group col" *ngIf="!isUnderProcessing(incident)">
          <label class="col-form-label">{{"incident-management.operation_date" | translate }}</label>
          <label class="form-control-plaintext">{{incident?.updateDate | dateFormat}}</label>
        </div>
      </div>

      <div class="row rows-cols-1">
        <div class="form-group col">
          <label class="col-form-label">{{ "incident-management.comments" | translate }}
            <span
              *ngIf="isUnderProcessing(incident)">
              ({{"incident-management.comments_caution" | translate}})
            </span>
            <span *ngIf="isUnderProcessing(incident)" class="text-danger">*</span>
          </label>
          <textarea *ngIf="isUnderProcessing(incident)" type="text" formControlName="resolutionComment"
                    class="form-control" rows="3" maxlength="500"
                    [class.is-invalid]="f.resolutionComment.invalid && f.resolutionComment.touched"></textarea>
          <div *ngIf="f.resolutionComment.invalid && f.resolutionComment.touched" class="invalid-feedback">
            <div *ngIf="f.resolutionComment.errors.required">{{'general.field_validation_required' | translate}}</div>
          </div>
          <label *ngIf="!isUnderProcessing(incident)"
                 class="form-control-plaintext text-break">{{incident?.resolutionComment}}</label>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <button *ngIf="isUnderProcessing(incident)" class="btn btn-outline-dcc-primary px-4"
                (click)="cancel()">{{"general.btn_cancel" | translate}}</button>
        <button *ngIf="isUnderProcessing(incident)" class="btn btn-dcc-primary px-4"
                (click)="save()">{{"general.btn_send" | translate}}</button>
      </div>

    </form>
  </div>

</div>
