<div class="dashes p-3">
    <span>
      {{'printing-management.no_batches' | translate }}
      <span name="noBatches" class="h5 font-weight-bold text-dcc-primary mx-3">{{printRequest?.printRequestBatches?.length}}</span>
    </span>
  <span>
      {{'printing-management.contains' | translate}}
    <span name="noCards" class="h5 font-weight-bold text-dcc-primary mx-3">{{printRequest?.printRequestApplicants?.length}}</span>
    {{'printing-management.cards' | translate}}
    </span>
</div>


<div name="printingBatches" class="table-responsive my-4">
  <table id="selectedApplicantsCards" class="table table-striped table-hover"
         *ngFor="let requestBatch of printRequest?.printRequestBatches, let i=index">
    <thead>
    <th style="font-size: larger">
      {{'printing-management.batch_no' | translate}} {{i + 1}} {{'printing-management.contains' | translate}} {{requestBatch?.printRequestBatchApplicants?.length}} {{'printing-management.cards' | translate}}
    </th>
    <tr>
      <th scope="col">{{'card-management.applicant_name' | translate}}</th>
      <th scope="col">{{'card-management.applicant_id' | translate}}</th>
      <th scope="col">{{'card-management.passport_number' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="false" class="text-center">
      <td colspan="10">
        <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set"></svg-icon>
        <p class="text-light-gray mb-3">{{ "general.table_emtpy_text" | translate }}</p>
      </td>
    </tr>

    <tr *ngFor="let batchApplicant of requestBatch?.printRequestBatchApplicants">
      <td><a [routerLink]="['/cards/details/1']"
             class="text-dcc-primary font-weight-bold">{{batchApplicant?.applicant?.fullNameAr}} {{batchApplicant?.applicant?.fullNameEn}}</a>
      </td>
      <td class="ltr">{{batchApplicant?.applicant?.digitalIds[0]?.uin}}</td>
      <td class="ltr">{{batchApplicant?.applicant?.passportNumber}}</td>
    </tr>
    </tbody>
  </table>
</div>

