<div class="dashes p-3">
    <span>
      {{'printing-management.no_batches' | translate }}
      <span name="noBatches"
            class="h5 font-weight-bold text-dcc-primary mx-3">{{printRequest?.printRequestBatches?.length}}</span>
    </span>
  <span>
      {{'printing-management.contains' | translate}}
    <span name="noCards"
          class="h5 font-weight-bold text-dcc-primary mx-3">{{printRequest?.printRequestCards?.length}}</span>
    {{'printing-management.cards' | translate}}
    </span>
</div>


<div name="printingBatches" class="table-responsive my-4">
  <table id="selectedApplicantsCards" class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">{{'card-management.applicant_name' | translate}}</th>
      <th scope="col">{{'card-management.applicant_id' | translate}}</th>
      <th scope="col">{{'card-management.passport_number' | translate}}</th>
    </tr>
    </thead>
    <ng-template [ngIf]="true" *ngFor="let requestBatch of printRequest?.printRequestBatches, let i=index">
      <th style="font-size: larger">
        {{'printing-management.batch_no' | translate}} {{i + 1}} {{'printing-management.contains' | translate}} {{requestBatch?.printRequestBatchCards?.length}} {{'printing-management.cards' | translate}}
      </th>
    <tbody>
    <tr *ngIf="false" class="text-center">
      <td colspan="10">
        <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set"></svg-icon>
        <p class="text-light-gray mb-3">{{ "general.table_emtpy_text" | translate }}</p>
      </td>
    </tr>

    <tr *ngFor="let batchCard of requestBatch?.printRequestBatchCards">
      <td class="ltr">{{batchCard?.card?.applicantRitual?.applicant?.fullNameAr}} {{batchCard?.card?.applicantRitual?.applicant?.fullNameEn}}</td>
      <td class="ltr">{{batchCard?.card?.applicantRitual?.applicant?.digitalIds[0]?.uin}}</td>
      <td class="ltr">{{batchCard?.card?.applicantRitual?.applicant?.passportNumber}}</td>
    </tr>
    </tbody>
    </ng-template>
  </table>
</div>

