.header-wrapper{

  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &::before{
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-size: contain;
    background: $light url(assets/images/header-svg.svg) no-repeat left top;

    [dir='ltr'] & {
      transform: rotate(180deg);
    }
  }



}
.left-header{
  flex-grow: 1;
}
.right-header{

}

.flip {
  [dir="ltr"] & {
    transform: rotateY(180deg);
  }
}

.nav-menus{
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  @include my(3);
  @include mx(4);
  box-shadow: $box-shadow-sm;
}

.title__Page{
  display: flex;
  justify-content: space-between;
  align-items: baseline !important;
  @include my(4);
}

.sectionTitle{
    color:$dcc-primary;
    font-weight: 700;
}


.content__section{

}

.content__footer__action{
    background-color: $gray-100;
    border-top: 1px #eee solid;
    border-radius: 0 0 $border-radius $border-radius;
    display: flex;
    justify-content: space-between;

    @include mx(-4);
    @include mb(-4);
    @include mt(4);

    padding: 2rem;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      .btn{
        margin: 5px 0 !important;
        width: 100%;
      }
    }
  }


  .wrapper-expand .sidebar-wrapper{
    background: #fff;
    z-index: 10;
    [dir="ltr"] &{
      left: 0;
      right: auto;
    }
  }
  body .sidebar-wrapper{
    [dir="ltr"] &{
      @include media-breakpoint-down(md) {
        left: -260px;
      }
    }
  }

  .sideNav{

    .item{
    display: block;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 1px #E5E5E5 solid;
    color: #707070;

    .navIcon{
      width: 45px;
      text-align: center;
      display: inline-block;
    }
        &:hover, &.active{
            background-color: #FFF;
            color: $dcc-primary;
        }
        &.active{

            [dir='ltr'] & {
              border-left: 4px $dcc-primary solid;
          }
          [dir='rtl'] & {
            border-right: 4px $dcc-primary solid;
          }

            .navIcon{
              width: calc(45px - 4px);
            }
        }
    }
}

.content__wrapper{
  @include m(4)
}


span.notif {
  animation: notify 1.5s infinite linear;
  font-size: 10px;
  display: inline-block;
  min-width: 14px;
  height: 14px;
  padding: 5px 4px 2px;
  line-height: 4px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  [dir='ltr'] & {
      right: 10px;
  }
  [dir='rtl'] & {
    left: 10px;
  }

  &.bg-red{
    background-color: #d95555;
  }
  &.bg-cyan{
    background-color: #2CD2BB;
  }
}

.button_back{
  position: absolute;
  @include media-breakpoint-up(lg) {
    top: 33px;
  }
  top: 55px;
}
