<div class="content__wrapper">
  <div class="title__Page">
    <h3 class="sectionTitle">{{'printing-management.request_details' | translate }}</h3>
  </div>
  <div class="content__section" *ngIf="!canSeePrintRequestDetails">
    {{'header.welcome' | translate}} <span
    class="font-weight-bold text-dcc-primary">{{'general.app_name' | translate}}</span>
  </div>

  <div class="content__section" *ngIf="canSeePrintRequestDetails">
    <div class="cardBox row row-cols-1 row-cols-md-2 row-cols-lg-6">
      <div class="form-group col mb-lg-0">
        <label class="col-form-label">{{'printing-management.request_number' | translate}}</label>
        <span class="form-control-plaintext ">{{printRequest?.referenceNumber}}</span>
      </div>
      <div class="form-group col mb-lg-0">
        <label class="col-form-label">{{'printing-management.no_batches' | translate}}</label>
        <span class="form-control-plaintext ">{{printRequest?.printRequestBatches?.length}}</span>
      </div>
      <div class="form-group col mb-lg-0">
        <label class="col-form-label">{{'printing-management.no_cards' | translate}}</label>
        <span class="form-control-plaintext ">{{printRequest?.printRequestCards?.length}}</span>
      </div>
      <div class="form-group col mb-lg-0">
        <label class="col-form-label">{{'printing-management.creation_date' | translate}}</label>
        <span class="form-control-plaintext ">{{printRequest?.creationDate | dateFormat}}</span>
      </div>
      <div *ngIf="printRequest?.statusCode !== printRequestStatus.NEW" class="form-group col mb-lg-0">
        <label class="col-form-label">{{'printing-management.request_confirmation_date' | translate}}</label>
        <span class="form-control-plaintext ">{{printRequest?.confirmationDate | dateFormat}}</span>
      </div>
      <div class="form-group col mb-lg-0">
        <label class="col-form-label">{{'printing-management.request_status' | translate}}</label>
        <span class="form-control-plaintext "><span
          class="status mr-1 done"></span> {{printRequest?.statusCode ? lookupService().localizedLabel(printRequestStatuses, printRequest?.statusCode) : ''}}</span>
      </div>
    </div>

    <div class="table-responsive my-4">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th class="nameCol" scope="col">{{'card-management.applicant_name' | translate}}</th>
          <th scope="col">{{'card-management.applicant_id' | translate}}</th>
          <th scope="col">{{'printing-management.id_number' | translate}}</th>
          <th scope="col">{{'card-management.card_number' | translate}}</th>
          <th scope="col">{{'card-management.passport_number' | translate}}</th>
          <th scope="col">{{'card-management.card_status' | translate}}</th>
        </tr>
        </thead>
        <tr *ngIf="false" class="text-center">
          <td colspan="10">
            <svg-icon styleClass="display-1 text-dcc-light" icon="empty-set"></svg-icon>
            <p class="text-light-gray mb-3">{{ "general.table_emtpy_text" | translate }}</p>
          </td>
        </tr>

        <ng-template [ngIf]="true" *ngFor="let batch of printRequest?.printRequestBatches; let i=index">
          <thead>
          <tr>
            <td class="p-0" colspan="10">
              <a class="packageBox" href="javascript:void(0)" (click)="isCollapsed[i] = !isCollapsed[i]"
                 [ngClass]=" isCollapsed[i] ? '' : 'active'">
              <span class="">{{'printing-management.batch_no' | translate}}<span
                class="packageNo">{{i + 1}}</span></span>
                <span class="">{{'printing-management.contains' | translate}}
                  <b>{{batch.printRequestBatchCards?.length}}</b> {{'printing-management.cards' | translate}}</span>
                <span class="badge m-2 text-muted" *ngFor="let requestBatch of batch.batchTypeCodes?.split(','); let i = index; let lastBatch = last;">
                  {{currentLanguage.startsWith("en") ? getBatchType(batch.batchTypeCodes?.split(',')[i]).labelEn : getBatchType(batch.batchTypeCodes?.split(',')[i]).labelAr}}:
                  {{batch.batchTypeCodes?.split(',')[i] === batchType.NATIONALITY ? lookupService().localizedLabel(countries, batch.batchTypeValues?.split(',')[i]) : batch.batchTypeValues?.split(',')[i]}}
                  <span *ngIf="!lastBatch">,</span>
                </span>
              </a>
            </td>
          </tr>
          </thead>
          <tbody [ngbCollapse]="isCollapsed[i]" class="collapse">
          <tr *ngFor="let batchCard of batch.printRequestBatchCards">
            <td class="nameCol">
              <a *ngIf="canSeeCardDetails" [routerLink]="['/cards/details', batchCard?.card?.id]" target="_blank"
                 class="text-dcc-primary font-weight-bold">{{batchCard?.card?.applicantRitual?.applicant?.fullNameAr}} {{batchCard?.card?.applicantRitual?.applicant?.fullNameEn}}
              </a>
              <p *ngIf="!canSeeCardDetails"
                 class=" font-weight-bold">{{batchCard?.card?.applicantRitual?.applicant?.fullNameAr}} {{batchCard?.card?.applicantRitual?.applicant?.fullNameEn}}
              </p>
            </td>
            <td class="ltr">{{batchCard?.card?.applicantRitual?.applicant?.digitalIds[0]?.uin}}</td>
            <td class="ltr">{{batchCard?.card?.applicantRitual?.applicant?.idNumber}}</td>
            <td class="ltr">{{batchCard?.card?.referenceNumber}}</td>
            <td class="ltr">{{batchCard?.card?.applicantRitual?.applicant?.passportNumber}}</td>
            <td class="ltr">{{lookupService().localizedLabel(cardStatuses, batchCard?.card?.statusCode)}}</td>
          </tr>
          </tbody>
        </ng-template>
      </table>
    </div>


  </div>

</div>
