<nav class="sidebar-wrapper">
  <div class="logo flex-center pt-3 pb-5">
    <a href="javascript:void(0)" [routerLink]="['/']">
      <img src="assets/images/logo.png" alt="logo"/>
    </a>
  </div>

  <ul class="sideNav mt-4">
    <li *ngFor="let link of links ;let i = index">
      <a class="item" *ngIf="link.display && !link.submenu" routerLink="{{ link.routerLink }}"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="resetSeasonYear()">
          <span class="navIcon">
            <svg-icon styleClass="mx-3 {{ link.iconFa }}" icon="{{ link.icon }}"></svg-icon>
          </span>
        {{ link.title | translate }}
      </a>

      <a *ngIf="link.submenu" class="item pointer submenuHdr" (click)="setCollapsed(i)"
         [ngClass]="link.isCollapsed ? '' : 'active'">
        <span class="d-flex justify-content-between align-items-baseline">
          <span>
            <span class="navIcon">
              <svg-icon styleClass="mx-3 {{ link.iconFa }}" icon="{{ link.icon }}"></svg-icon>
            </span>
            {{ link.title | translate }}
          </span>
          <svg-icon class="chevron mx-3" [icon]="link.isCollapsed ? 'chevron-left-light' : 'chevron-down-light'"
                    [ngClass]="link.isCollapsed ? '' : 'flip'"></svg-icon>
        </span>
      </a>
      <div *ngIf="link.submenu" class="submenu_items" [ngbCollapse]="link.isCollapsed">
        <span *ngFor="let menuItem of link.menuItems">
        <a class="item submenu_item pointer border-0 pl-md-5" *ngIf="menuItem.display"
           routerLinkActive="active" routerLink="{{ menuItem.routerLink }}">
          {{ menuItem.title | translate }}

        </a>
      </span>
      </div>
    </li>

  </ul>
</nav>


<!-- <a *ngIf="link.submenu" href="javascript:void(0)" (click)="isCollapsed = !isCollapsed">
  {{ link.title | translate }}
</a>
<div *ngIf="link.submenu" [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" routerLinkActive="active">
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active" *ngFor="let menuItem of link.menuItems">
      <a class="nav-link" routerLink="{{ menuItem.routerLink }}">{{ menuItem.title | translate }}</a>
    </li>
  </ul>
</div> -->
